Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

build:api:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

build:event-handler:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

build:ui:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

fix: only close manual run modal on success
  keep-ui/features/workflows/manual-run-workflow/ui/manual-run-workflow-modal.tsx
Due: build:ui

fix: disable cancel button while workflow run is in flight
  keep-ui/features/workflows/manual-run-workflow/ui/manual-run-workflow-modal.tsx
Due: build:ui

fix: prevent duplicate workflow runs on rapid manual run clicks
  keep-ui/features/workflows/manual-run-workflow/ui/manual-run-workflow-modal.tsx
Due: build:ui

fix(providers): don't crash on an empty choices list (#6705)
  keep/providers/litellm_provider/litellm_provider.py
  keep/providers/vllm_provider/vllm_provider.py
  tests/providers/litellm_provider/test_litellm_response_parsing.py
Due: build:api, build:event-handler

fix(providers): don't crash on empty choices in grok
  keep/providers/grok_provider/grok_provider.py
  tests/providers/grok_provider/test_grok_response_parsing.py
Due: build:api, build:event-handler

fix(providers): default grok to a served model
  keep/providers/grok_provider/grok_provider.py
  tests/providers/grok_provider/test_grok_default_model.py
Due: build:api, build:event-handler

fix(providers): default openai to a model that supports json_schema
  keep/providers/openai_provider/openai_provider.py
  tests/providers/openai_provider/test_openai_default_model.py
Due: build:api, build:event-handler

Testing push to ecr workflow
  .github/workflows/build-and-push-backend-to-ecr.yaml
Due: none

fix: Preserve column configuration when saving a preset
  keep/api/routes/preset.py
  tests/test_preset.py
  uv.lock
Due: build:api, build:event-handler

fix(providers): default openai to a model that supports json_schema (#6713)
  keep/providers/openai_provider/openai_provider.py
  tests/providers/openai_provider/test_openai_default_model.py
Due: build:api, build:event-handler

fix(providers): default grok to a served model (#6711)
  keep/providers/grok_provider/grok_provider.py
  tests/providers/grok_provider/test_grok_default_model.py
Due: build:api, build:event-handler

fix(providers): don't crash on empty choices in grok (#6710)
  keep/providers/grok_provider/grok_provider.py
  tests/providers/grok_provider/test_grok_response_parsing.py
Due: build:api, build:event-handler

fix: prevent duplicate workflow runs on rapid manual run clicks (#6691)
  keep-ui/features/workflows/manual-run-workflow/ui/manual-run-workflow-modal.tsx
Due: build:ui

fix(providers): guard against empty choices list in openai and deepseek providers
  keep/providers/deepseek_provider/deepseek_provider.py
  keep/providers/openai_provider/openai_provider.py
  tests/providers/deepseek_provider/test_deepseek_response_parsing.py
  tests/providers/openai_provider/test_openai_response_parsing.py
Due: build:api, build:event-handler

fix(step): iterate a scalar foreach value once instead of crashing on falsy values
  keep/step/step.py
  tests/test_steps.py
Due: build:api, build:event-handler

fix(servicenow): forward sysparm_offset in pagination and fix undefined var in _notify_update
  keep/providers/servicenow_provider/servicenow_provider.py
  tests/test_servicenow_provider.py
Due: build:api, build:event-handler

fix: extraction rule executions route to mapping execution pages
  keep-ui/app/(keep)/extraction/[rule_id]/executions/[execution_id]/page.tsx
  keep-ui/app/(keep)/extraction/[rule_id]/executions/page.tsx
  keep-ui/components/table/ExecutionsTable.tsx
  keep-ui/components/table/__tests__/ExecutionsTable.test.tsx
Due: build:ui

fix(keep-provider): don't mutate the shared fingerprint_fields list
  keep/providers/keep_provider/keep_provider.py
  tests/test_keep_provider_fingerprint_fields_mutation.py
Due: build:api, build:event-handler

fix(keep-provider): don't mutate the shared fingerprint_fields list (#6720)
  keep/providers/keep_provider/keep_provider.py
  tests/test_keep_provider_fingerprint_fields_mutation.py
Due: build:api, build:event-handler

fix(servicenow): forward sysparm_offset in pagination and fix undefined error in _notify_update (#6725)
  keep/providers/servicenow_provider/servicenow_provider.py
  tests/test_servicenow_provider.py
Due: build:api, build:event-handler

fix(providers): don't crash on empty choices in openai and deepseek
  keep/providers/deepseek_provider/deepseek_provider.py
  keep/providers/openai_provider/openai_provider.py
  tests/providers/deepseek_provider/test_deepseek_empty_choices.py
  tests/providers/openai_provider/test_openai_empty_choices.py
Due: build:api, build:event-handler

fix(step): don't crash when a single foreach reference resolves falsy
  keep/step/step.py
  tests/test_step_foreach_falsy_value.py
Due: build:api, build:event-handler

fix(iohandler): don't drop empty list/dict/tuple args to keep.* functions
  keep/iohandler/iohandler.py
  tests/test_iohandler.py
Due: build:api, build:event-handler

fix(tests): wait for the workflow detail header before asserting on it
  tests/e2e_tests/test_end_to_end.py
Due: none

fix(servicenow-provider): fix pagination, auth, and a NameError in notify_update
  keep/providers/servicenow_provider/servicenow_provider.py
  tests/test_servicenow_provider.py
Due: build:api, build:event-handler

fix(topologies): skip deleted incidents when looking up application incidents
  keep/topologies/topology_processor.py
  tests/test_topology.py
Due: build:api, build:event-handler

fix(topologies): skip deleted incidents when looking up application incidents (#6733)
  keep/topologies/topology_processor.py
  tests/test_topology.py
Due: build:api, build:event-handler

fix(topology): scope alerts to the owning application before creating/updating incidents
  keep/topologies/topology_processor.py
  tests/test_topology_processor.py
Due: build:api, build:event-handler

fix(tests): wait for the workflow detail header before asserting on it (#6730)
  tests/e2e_tests/test_end_to_end.py
Due: none

feat(providers): add input validation schemas and strong types for provider auth (#1327)
  keep-ui/app/(keep)/providers/form-validation.ts
  keep-ui/shared/api/providers.ts
  keep-ui/shared/lib/__tests__/form-validation.test.ts
Due: build:ui

fix(topology): raise incidents for standalone services with no application
  keep/topologies/topology_processor.py
  tests/test_topology.py
Due: build:api, build:event-handler

fix(iohandler): don't drop empty list/dict/tuple and literal False args to keep.* functions
  keep/iohandler/iohandler.py
Due: build:api, build:event-handler

Add FluxCD to service topology supported providers list
  docs/overview/servicetopology.mdx
Due: none

fix(topology): preserve incident continuity and application identity across topology re-imports
  keep/topologies/topologies_service.py
  keep/topologies/topology_processor.py
  tests/test_topology.py
Due: build:api, build:event-handler

feat(ui): add confirmation dialog before deleting incident enrichments
  keep-ui/app/(keep)/incidents/[id]/enrichments/EnrichmentEditableField.tsx
Due: build:ui

fix(providers): handle empty choices list in openai and deepseek (fixes #6715)
  keep/providers/deepseek_provider/deepseek_provider.py
  keep/providers/openai_provider/openai_provider.py
Due: build:api, build:event-handler

fix: skip alias rendering when a step's if-condition is false
  keep/step/step.py
  tests/test_steps.py
Due: build:api, build:event-handler

fix: Enable Zabbix ID deduplication
  keep/providers/zabbix_provider/zabbix_provider.py
  tests/test_provider_factory.py
Due: build:api, build:event-handler

fix(google_chat): report why a send failed, and cover the send path
  keep/providers/google_chat_provider/google_chat_provider.py
  tests/providers/google_chat_provider/test_google_chat_provider.py
Due: build:api, build:event-handler

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml
