Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml

feat(google_chat): address a space by name instead of by webhook URL
  docs/providers/documentation/google_chat-provider.mdx
  docs/snippets/providers/google_chat-snippet-autogenerated.mdx
  keep/providers/google_chat_provider/google_chat_provider.py
  tests/providers/google_chat_provider/test_google_chat_provider.py
Due: build:api, build:event-handler

feat(google_chat): accept a per-notification webhook URL
  docs/providers/documentation/google_chat-provider.mdx
  docs/snippets/providers/google_chat-snippet-autogenerated.mdx
  keep/providers/google_chat_provider/google_chat_provider.py
  tests/providers/google_chat_provider/test_google_chat_provider.py
Due: build:api, build:event-handler

fix: Enable Zabbix ID deduplication (#6745)
  keep/providers/zabbix_provider/zabbix_provider.py
  tests/test_provider_factory.py
Due: build:api, build:event-handler

feat(jiraonprem): transition issues between statuses
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
  tests/test_jira_provider.py
Due: build:api, build:event-handler

docs: show how to transition an on-prem Jira ticket
  docs/providers/documentation/jira-on-prem-provider.mdx
  docs/snippets/providers/jira-snippet-autogenerated.mdx
  docs/snippets/providers/jiraonprem-snippet-autogenerated.mdx
  examples/workflows/jira_on_prem_transition_on_resolved.yml
Due: none

fix(jiraonprem): stop resetting the priority on every update
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
  tests/test_jira_provider.py
Due: build:api, build:event-handler

feat(jiraonprem): search issues by jql
  docs/snippets/providers/jira-snippet-autogenerated.mdx
  docs/snippets/providers/jiraonprem-snippet-autogenerated.mdx
  docs/snippets/providers/slack-snippet-autogenerated.mdx
  examples/workflows/jira_on_prem_stale_issues.yml
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
  tests/test_jira_provider.py
Due: build:api, build:event-handler

feat(jira): search issues by jql from the cloud provider
  docs/snippets/providers/jira-snippet-autogenerated.mdx
  docs/snippets/providers/slack-snippet-autogenerated.mdx
  examples/workflows/jira_cloud_stale_issues.yml
  keep/providers/jira_provider/jira_provider.py
  tests/test_jira_provider.py
Due: build:api, build:event-handler

fix(jira): link tickets by their public address
  docs/providers/documentation/jira-on-prem-provider.mdx
  docs/providers/documentation/jira-provider.mdx
  docs/snippets/providers/jira-snippet-autogenerated.mdx
  docs/snippets/providers/jiraonprem-snippet-autogenerated.mdx
  keep/providers/jira_provider/jira_provider.py
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
  tests/test_jira_provider.py
Due: build:api, build:event-handler

fix(auth): forward cookie header in createServerApiClient for oauth2-proxy
  keep-ui/shared/api/server/__tests__/createServerApiClient.test.ts
  keep-ui/shared/api/server/createServerApiClient.ts
Due: build:ui

test(auth): move createServerApiClient tests to shared/tests directory
  keep-ui/shared/tests/createServerApiClient.test.ts
Due: build:ui

test(providers): add provider configuration normalization unit tests
  keep/providers/models/test_wave1_provider_config.py
Due: build:api, build:event-handler

test(rules): add alert severity threshold and rule parsing specs
  keep/api/tests/test_wave2_rules_spec.py
Due: build:api, build:event-handler

test(rulesengine): add alert severity escalation threshold and fingerprint normalization assertions
  keep/rulesengine/wave4_alert_severity_test.py
Due: build:api, build:event-handler

test(rulesengine): add alert debounce window suppression and severity weight ordering specs
  keep/rulesengine/wave5_alert_debounce_test.py
Due: build:api, build:event-handler

test(rulesengine): add webhook HMAC-SHA256 signature verification and replay drift specs
  keep/rulesengine/wave6_webhook_hmac_test.py
Due: build:api, build:event-handler

test(rulesengine): add alert fingerprint normalization and incident grouping window specs
  keep/rulesengine/wave7_incident_correlation_test.py
Due: build:api, build:event-handler

test(rulesengine): add alert deduplication tumbling window threshold specs
  keep/api/core/tests/wave9_alert_dedup_window_test.py
Due: build:api, build:event-handler

fix: skip alias rendering when a step's if condition is false (#6744)
  keep/step/step.py
  tests/test_steps.py
Due: build:api, build:event-handler

test(rulesengine): add alert fingerprint SHA-256 normalization and incident grouping specs
  keep/api/core/tests/wave10_alert_fingerprint_test.py
Due: build:api, build:event-handler

test(webhook): add sensitive header masking and severity mapping specs
  keep/api/core/tests/wave9_webhook_sanitizer_test.py
Due: build:api, build:event-handler

test(sla): add incident response SLA breach detection and noise reduction specs
  keep/api/core/tests/wave12_incident_sla_test.py
Due: build:api, build:event-handler

test(alerts): add alert fingerprint deduplication and throttle window evaluation specs
  tests/test_wave16_alert_dedup_throttle.py
Due: none

fix: pass falsy args to keep.* template functions (Fixes #6728)
  keep/iohandler/iohandler.py
Due: build:api, build:event-handler

fix: use ternary for foreach single-item unwrap (Fixes #6721)
  keep/step/step.py
Due: build:api, build:event-handler

fix: record original sub_rule in correlation engine for null CEL comparison (Fixes #6694)
  keep/rulesengine/rulesengine.py
Due: build:api, build:event-handler

fix: raise when all SignalFx incidents fail to format (Fixes #6674)
  keep/providers/signalfx_provider/signalfx_provider.py
Due: build:api, build:event-handler

fix(functions): read an offsetless timestamp as UTC
  keep/functions/__init__.py
  tests/test_functions.py
Due: build:api, build:event-handler

fix(functions): read an offsetless timestamp as UTC (#6777)
  keep/functions/__init__.py
  tests/test_functions.py
Due: build:api, build:event-handler

fix(functions): refuse a time string add_time_to_date cannot read
  keep/functions/__init__.py
  tests/test_functions.py
Due: build:api, build:event-handler

fix(auth0): stop rediscovering the jwks uri on every verifier
  ee/identitymanager/identity_managers/auth0/auth0_authverifier.py
  tests/test_auth0_authverifier.py
Due: build:api, build:event-handler

fix(tests): stop the auth0 fixture reaching the network
  tests/fixtures/client.py
Due: none

test(alerts): add webhook retry exponential backoff & deduplication specs
  keep/api/tests/test_webhook_backoff_invariants.py
Due: build:api, build:event-handler

test(rules): add alert suppression debounce and incident threshold invariant specs
  tests/test_alert_debounce_invariants.py
Due: none

test(rules): add alert deduplication fingerprint and threshold evaluator specs
  keep/rulesengine/alert_dedup_invariants_test.py
Due: build:api, build:event-handler

test(dedup): add alert fingerprint hash deduplication and window clamping specs
  tests/test_alert_dedup_fingerprint_invariants.py
Due: none

docs(providers): fix NewRelic _query docstring param name
  keep/providers/newrelic_provider/newrelic_provider.py
Due: build:api, build:event-handler

docs(workflowstore): fix query_workflow_templates' copy-pasted docstring
  keep/workflowmanager/workflowstore.py
Due: build:api, build:event-handler

docs: drop the empty link target in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none
