Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

build:api:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

build:event-handler:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

build:ui:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

feat: include fingerprints in poll-alerts payload and patch visible alert rows (#6591)
  .github/workflows/run-e2e-tests.yml
  keep-ui/utils/hooks/__tests__/useAlertPolling.test.ts
  keep-ui/utils/hooks/useAlertPolling.ts
  keep-ui/widgets/alerts-table/ui/__tests__/useAlertsTableData.test.ts
  keep-ui/widgets/alerts-table/ui/useAlertsTableData.ts
  keep/api/consts.py
  keep/api/routes/alerts.py
  keep/api/tasks/process_event_task.py
  tests/test_alerts_batch.py
  tests/test_poll_alerts_payload.py
Due: build:api, build:event-handler, build:ui

chore: Bump version from 0.54.0 to 0.54.1
  pyproject.toml
Due: build:api, build:event-handler

chore: Bump version from 0.54.0 to 0.54.1 (#6595)
  pyproject.toml
Due: build:api, build:event-handler

fix: restore port
  keep-ui/package.json
Due: build:ui

docs: arranged the providers in alphabetical and categorical order
  docs/providers/overview.md
  docs/providers/overview.mdx
Due: none

feat: add Flowtriq provider for DDoS attack alert ingestion
  docs/mint.json
  docs/providers/documentation/flowtriq-provider.mdx
  keep-ui/public/icons/flowtriq-icon.png
  keep/providers/flowtriq_provider/__init__.py
  keep/providers/flowtriq_provider/flowtriq_provider.py
  tests/providers/flowtriq_provider/__init__.py
  tests/providers/flowtriq_provider/test_flowtriq_provider.py
Due: build:api, build:event-handler, build:ui

fix: correct Flowtriq provider API endpoints and webhook payload structure
  docs/providers/documentation/flowtriq-provider.mdx
  keep/providers/flowtriq_provider/flowtriq_provider.py
  tests/providers/flowtriq_provider/test_flowtriq_provider.py
Due: build:api, build:event-handler

feat: add status-transition metadata to poll-alerts Pusher payload
  keep-ui/utils/hooks/__tests__/useAlertPolling.test.ts
  keep-ui/utils/hooks/useAlertPolling.ts
  keep/api/consts.py
  keep/api/core/db.py
  keep/api/routes/alerts.py
  keep/api/tasks/process_event_task.py
  tests/test_poll_alerts_payload.py
Due: build:api, build:event-handler, build:ui

fix: remove unused fingerprints_for_poll_payload imports
  keep/api/routes/alerts.py
  keep/api/tasks/process_event_task.py
Due: build:api, build:event-handler

fix: use dialect-aware JSON extraction for cross-DB compatibility
  keep/api/core/db.py
  tests/test_poll_alerts_payload.py
Due: build:api, build:event-handler

fix(conditions): compare percentage thresholds numerically
  keep/conditions/threshold_condition.py
  tests/test_conditions.py
Due: build:api, build:event-handler

fix(conditions): compare percentage thresholds numerically (#6603)
  keep/conditions/threshold_condition.py
  tests/test_conditions.py
Due: build:api, build:event-handler

feat(ai): add option to disable temperature in AI requests
  docs/deployment/configuration.mdx
  keep/api/bl/ai_suggestion_bl.py
  keep/api/bl/incident_reports.py
  keep/api/utils/ai_utils.py
  tests/test_ai_utils.py
Due: build:api, build:event-handler

feat(ai): add option to disable temperature in AI requests (#6605)
  docs/deployment/configuration.mdx
  keep/api/bl/ai_suggestion_bl.py
  keep/api/bl/incident_reports.py
  keep/api/utils/ai_utils.py
  tests/test_ai_utils.py
Due: build:api, build:event-handler

feat(cilium): support secure TLS connection to the hubble relay
  docs/providers/documentation/cilium-provider.mdx
  docs/snippets/providers/cilium-snippet-autogenerated.mdx
  keep/providers/cilium_provider/cilium_provider.py
  keep/providers/cilium_provider/secure_channel.py
  tests/test_cilium_secure_channel.py
Due: build:api, build:event-handler

feat(auth): allow local account users to change their password
  keep-ui/app/(keep)/settings/auth/users-sidebar.tsx
  keep-ui/components/navbar/ChangePasswordModal.tsx
  keep-ui/components/navbar/UserInfo.tsx
  keep-ui/components/navbar/__tests__/ChangePasswordModal.test.tsx
  keep/api/core/db.py
  keep/api/routes/auth/users.py
  keep/identitymanager/identity_managers/db/db_identitymanager.py
  tests/test_change_password.py
Due: build:api, build:event-handler, build:ui

feat(cilium): support secure TLS connection to the hubble relay (#6606)
  docs/providers/documentation/cilium-provider.mdx
  docs/snippets/providers/cilium-snippet-autogenerated.mdx
  keep/providers/cilium_provider/cilium_provider.py
  keep/providers/cilium_provider/secure_channel.py
  tests/test_cilium_secure_channel.py
Due: build:api, build:event-handler

feat(auth): allow local account users to change their password (#6609)
  keep-ui/app/(keep)/settings/auth/users-sidebar.tsx
  keep-ui/components/navbar/ChangePasswordModal.tsx
  keep-ui/components/navbar/UserInfo.tsx
  keep-ui/components/navbar/__tests__/ChangePasswordModal.test.tsx
  keep/api/core/db.py
  keep/api/routes/auth/users.py
  keep/identitymanager/identity_managers/db/db_identitymanager.py
  tests/test_change_password.py
Due: build:api, build:event-handler, build:ui

refactor(gke): tighten credential helper docstrings
  keep/providers/gke_provider/gke_credentials.py
Due: build:api, build:event-handler

feat(gke): support IAM credentials via Application Default Credentials
  docs/providers/documentation/gke-provider.mdx
  docs/snippets/providers/gke-snippet-autogenerated.mdx
  keep/providers/gke_provider/gke_credentials.py
  keep/providers/gke_provider/gke_provider.py
  tests/test_gke_credentials.py
Due: build:api, build:event-handler

feat(gke): warn on invalid service_account_json and add credential tests
  keep/providers/gke_provider/gke_credentials.py
  keep/providers/gke_provider/gke_provider.py
  tests/test_gke_credentials.py
Due: build:api, build:event-handler

fix: enrich incident from incident context inside foreach
  keep/providers/base/base_provider.py
Due: build:api, build:event-handler

test: cover incident enrichment inside foreach
  tests/test_enrichments.py
Due: none

fix: 6598 incident enrichment foreach context (#6611)
  keep/providers/base/base_provider.py
  tests/test_enrichments.py
Due: build:api, build:event-handler

fix(zabbix): populate hostname on pulled and pushed alerts
  keep/providers/zabbix_provider/zabbix_provider.py
Due: build:api, build:event-handler

feat(jiraonprem): allow enabling TLS certificate verification
  docs/snippets/providers/jiraonprem-snippet-autogenerated.mdx
  keep/providers/jiraonprem_provider/jiraonprem_provider.py
  tests/test_jira_provider.py
Due: build:api, build:event-handler

feat: add maintenance window lifecycle workflow triggers
  docs/workflows/syntax/triggers.mdx
  keep/api/models/db/maintenance_window.py
  keep/api/routes/maintenance.py
  keep/contextmanager/contextmanager.py
  keep/workflowmanager/workflowmanager.py
  keep/workflowmanager/workflowscheduler.py
  tests/test_maintenance_workflow_trigger.py
Due: build:api, build:event-handler

feat: time-based alert retention policy
  docs/deployment/configuration.mdx
  keep/api/api.py
  keep/api/arq_worker.py
  keep/api/consts.py
  keep/api/core/db.py
  keep/api/tasks/process_retention_task.py
  tests/test_alert_retention.py
Due: build:api, build:event-handler

feat(keep-mcp): add v0.1 read-only MCP server as sidecar container
  docker-compose.common.yml
  docker-compose.yml
  docker/Dockerfile.mcp
  keep-mcp/.gitignore
  keep-mcp/README.md
  keep-mcp/pyproject.toml
  keep-mcp/src/keep_mcp/__init__.py
  keep-mcp/src/keep_mcp/__main__.py
  keep-mcp/src/keep_mcp/client.py
  keep-mcp/src/keep_mcp/config.py
  keep-mcp/src/keep_mcp/server.py
  keep-mcp/tests/__init__.py
  keep-mcp/tests/test_client.py
Due: none

feat(correlation): add incident enrichments to correlation rules and support raw alert storage
  docs/deployment/configuration.mdx
  docs/overview/correlation-rules.mdx
  keep-ui/app/(keep)/rules/CorrelationSidebar/CorrelationForm.tsx
  keep-ui/app/(keep)/rules/CorrelationSidebar/CorrelationSidebarBody.tsx
  keep-ui/app/(keep)/rules/CorrelationSidebar/index.tsx
  keep-ui/app/(keep)/rules/CorrelationSidebar/types.ts
  keep-ui/utils/hooks/useRules.ts
  keep/api/consts.py
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/migrations/versions/2026-06-30-10-30_a38f1c29d7e4.py
  keep/api/models/db/rule.py
  keep/api/routes/rules.py
  keep/api/routes/settings.py
  keep/api/tasks/process_event_task.py
  keep/rulesengine/rulesengine.py
Due: build:api, build:event-handler, build:ui

feat(incidents): CEL query search in incidents
  keep-ui/features/incidents/incident-list/ui/incident-list.tsx
  keep-ui/features/incidents/incident-list/ui/useIncidentsTableData.tsx
  keep-ui/features/presets/presets-manager/ui/alerts-rules-builder.tsx
  keep/api/core/incidents.py
  keep/api/utils/cel_utils.py
Due: build:api, build:event-handler, build:ui

refactor(keep-mcp): apply ponytail-review cuts (net -147 lines)
  keep-mcp/README.md
  keep-mcp/pyproject.toml
  keep-mcp/src/keep_mcp/__main__.py
  keep-mcp/src/keep_mcp/client.py
  keep-mcp/src/keep_mcp/server.py
  keep-mcp/tests/__init__.py
  keep-mcp/tests/test_client.py
Due: none

feat: lock an incident after a configurable max window
  docs/overview/correlation-rules.mdx
  keep/api/core/db.py
  keep/api/models/db/migrations/versions/2026-07-07-12-00_1c46ee76d36c.py
  keep/api/models/db/rule.py
  keep/api/routes/rules.py
  keep/api/utils/incident_expiry.py
  tests/test_incident_max_window.py
Due: build:api, build:event-handler

refactor(keep-mcp): collapse to one file (454 → 192 lines)
  keep-mcp/.gitignore
  keep-mcp/README.md
  keep-mcp/pyproject.toml
  keep-mcp/src/keep_mcp/__main__.py
  keep-mcp/src/keep_mcp/client.py
  keep-mcp/src/keep_mcp/config.py
  keep-mcp/tests/test_client.py
  keep-mcp/tests/test_tools.py
Due: none

feat: add Plivo SMS provider
  docs/mint.json
  docs/providers/documentation/plivo-provider.mdx
  docs/snippets/providers/plivo-snippet-autogenerated.mdx
  keep-ui/public/icons/plivo-icon.png
  keep/providers/plivo_provider/plivo_provider.py
  pyproject.toml
Due: build:api, build:event-handler, build:ui

feat: Improve change status performance
  keep-ui/features/alerts/alert-change-status/ui/alert-change-status-modal.tsx
  keep/api/routes/alerts.py
  keep/workflowmanager/workflowmanager.py
Due: build:api, build:event-handler, build:ui

fix duplications
  keep/api/tasks/process_event_task.py
  tests/deduplication/test_correlation_rule.py
Due: build:api, build:event-handler

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml
