Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml

feat: add SNMP provider icon and simulate_alert fixtures
  keep-ui/public/icons/snmp-icon.png
  keep/providers/snmp_provider/alerts_mock.py
Due: build:api, build:event-handler, build:ui

fix: add format_alert and fix consumer thread cleanup
  keep/providers/snmp_provider/snmp_provider.py
  tests/test_snmp_provider.py
Due: build:api, build:event-handler

fix: route SNMP traps by version before PDU type check
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: fix: snmp provider
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: fix: snmp provider
  keep/providers/snmp_provider/snmp_provider_test.py
Due: build:api, build:event-handler

fix: fix: snmp provider
  keep-ui/shared/lib/provider-utils.ts
Due: build:ui

fix: fix: snmp provider
  keep/providers/snmp-prov/snmp-prov.py
Due: build:api, build:event-handler

fix: fix: snmp provider
  keep/providers/snmp-prov/snmp-prov.test.ts
Due: build:api, build:event-handler

fix: fix: snmp provider
  keep/providers/snmp-prov/snmp-prov.ts
Due: build:api, build:event-handler

fix: address reviewer requested changes
  keep/providers/snmp-prov/snmp-prov.test.ts
Due: build:api, build:event-handler

fix: address reviewer requested changes
  keep/providers/snmp-prov/snmp-prov.ts
Due: build:api, build:event-handler

feat(pagerduty): add client and client_url support for Events API v2 (#6241)
  docs/snippets/providers/pagerduty-snippet-autogenerated.mdx
  keep/providers/pagerduty_provider/pagerduty_provider.py
  tests/test_pagerduty_provider.py
Due: build:api, build:event-handler

fix: [🔌 Provider]: SNMP provider
  keep-ui/app/api/aws-marketplace/route.ts
Due: build:ui

fix: [🔌 Provider]: SNMP provider
  keep/parser/parser.py
Due: build:api, build:event-handler

feat(provider): add SNMP provider with trap receiver and device polling
  keep/providers/snmp_provider/README.md
  keep/providers/snmp_provider/__init__.py
  keep/providers/snmp_provider/alerts_mock.py
  keep/providers/snmp_provider/snmp_provider.py
  pyproject.toml
  tests/snmp_provider_test.py
Due: build:api, build:event-handler

feat(providers): add SNMP v1/v2c trap receiver provider (#2112)
  docker-compose.snmp-test.yml
  docs/providers/documentation/snmp-provider.mdx
  keep/providers/snmp_provider/__init__.py
  keep/providers/snmp_provider/snmp_provider.py
  poetry.lock
  pyproject.toml
  tests/providers/test_snmp_provider.py
Due: build:api, build:event-handler

fix: show zero-config providers in Connect Provider catalog
  keep-ui/app/(keep)/providers/page.client.tsx
  keep-ui/app/(keep)/providers/providers-tiles.tsx
  keep-ui/shared/api/providers.ts
Due: build:ui

feat: implement SNMP provider for Keep
  keep/providers/snmp_provider/__init__.py
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: remove unused import, replace deprecated utcnow()
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

Create Feishu provider __init__.py
  keep/providers/feishu_provider/__init__.py
Due: build:api, build:event-handler

Create Feishu provider implementation
  keep/providers/feishu_provider/feishu_provider.py
Due: build:api, build:event-handler

Add __init__.py
  keep/providers/dingtalk_provider/__init__.py
Due: build:api, build:event-handler

Add __init__.py
  keep/providers/wecom_provider/__init__.py
Due: build:api, build:event-handler

Add dingtalk_provider.py
  keep/providers/dingtalk_provider/dingtalk_provider.py
Due: build:api, build:event-handler

Add wecom_provider.py
  keep/providers/wecom_provider/wecom_provider.py
Due: build:api, build:event-handler

feat: add SNMP provider for trap receiving (v1/v2c/v3) and OID polling (#2112)
  keep/providers/snmp_provider/__init__.py
  keep/providers/snmp_provider/alerts_mock.py
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

docs: add SNMP provider demo video and GIF
  screenshots/snmp_demo.mp4
  screenshots/snmp_demo_small.gif
Due: none

Add SNMP provider with v1/v2 support
  keep-ui/public/icons/snmp-icon.png
  keep/providers/snmp_provider/__init__.py
  keep/providers/snmp_provider/snmp_provider.py
  poetry.lock
  pyproject.toml
  tests/test_snmp_provider.py
Due: build:api, build:event-handler, build:ui

feat(snmp): add SNMP provider skeleton
  keep/providers/snmp_provider/__init__.py
Due: build:api, build:event-handler

feat(snmp): add SNMP provider implementation
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

feat(snmp): add SNMP mock alerts for testing
  keep/providers/snmp_provider/alerts_mock.py
Due: build:api, build:event-handler

test(snmp): add comprehensive SNMP provider unit tests
  tests/test_snmp_provider.py
Due: none

docs(snmp): add SNMP provider documentation
  docs/providers/documentation/snmp-provider.mdx
Due: none

Adding the support of SNMP-v3
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

add test for SNMP-v3
  tests/test_snmp_provider.py
Due: none

Write docs for SNMP and create the autogenerated using command
  docs/providers/documentation/snmp-provider.mdx
  docs/providers/overview.mdx
  docs/snippets/providers/snmp-snippet-autogenerated.mdx
Due: none

feat: add SNMP provider for trap-based alerting
  keep/providers/snmp_provider/__init__.py
  keep/providers/snmp_provider/snmp_provider.py
  tests/providers/snmp_provider/__init__.py
  tests/providers/snmp_provider/test_snmp_provider.py
Due: build:api, build:event-handler

feat(providers): add Nagios provider for monitoring host/service alerts
  keep/providers/nagios_provider/__init__.py
  keep/providers/nagios_provider/alerts_mock.py
  keep/providers/nagios_provider/nagios_provider.py
  keep/providers/nagios_provider/webhook-keep.py
Due: build:api, build:event-handler

feat(providers): add SolarWinds provider for pulling Orion active alerts
  keep/providers/solarwinds_provider/README.md
  keep/providers/solarwinds_provider/__init__.py
  keep/providers/solarwinds_provider/alerts_mock.py
  keep/providers/solarwinds_provider/solarwinds_provider.py
Due: build:api, build:event-handler

List SNMP docs in docs/providers/overview.md
  docs/providers/overview.md
Due: none
