Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml

feat(cli): add workflow validate command for CI checks
  docs/cli/commands/cli-workflow.mdx
  docs/cli/commands/workflow-validate.mdx
  keep/cli/cli.py
  tests/test_cli_workflow_validate.py
Due: build:api, build:event-handler

docs: add README for Nagios provider setup
  keep/providers/nagios_provider/README.md
Due: build:api, build:event-handler

feat: add Nagios monitoring provider
  keep/providers/nagios_provider/__init__.py
  keep/providers/nagios_provider/alerts_mock.py
  keep/providers/nagios_provider/nagios_provider.py
Due: build:api, build:event-handler

fix(grafana): always set optional alert fields to avoid render_context errors
  keep/providers/grafana_provider/grafana_provider.py
Due: build:api, build:event-handler

feat: add SolarWinds Orion provider
  keep/providers/solarwinds_provider/solarwinds_provider.py
Due: build:api, build:event-handler

feat: add solarwinds provider __init__.py
  keep/providers/solarwinds_provider/__init__.py
Due: build:api, build:event-handler

fix: flush session after incident creation in topology processor
  keep/topologies/topology_processor.py
Due: build:api, build:event-handler

docs: add SolarWinds provider documentation
  docs/providers/documentation/solarwinds-provider.mdx
Due: none

fix(provider): fix UptimeKuma provider logic and exception handling (#5655)
  keep/providers/uptimekuma_provider/uptimekuma_provider.py
Due: build:api, build:event-handler

feat: add SNMP provider
  keep-ui/public/icons/snmp-icon.png
  keep/providers/snmp_provider/README.md
  keep/providers/snmp_provider/__init__.py
  keep/providers/snmp_provider/alerts_mock.py
  keep/providers/snmp_provider/snmp_provider.py
  tests/test_snmp_provider.py
Due: build:api, build:event-handler, build:ui

feat: add SolarWinds provider
  keep-ui/public/icons/solarwinds-icon.png
  keep/providers/solarwinds_provider/README.md
  keep/providers/solarwinds_provider/__init__.py
  keep/providers/solarwinds_provider/alerts_mock.py
  keep/providers/solarwinds_provider/solarwinds_provider.py
  tests/test_solarwinds_provider.py
Due: build:api, build:event-handler, build:ui

fix: store lastReceived as ISO string, fallback to now() on parse error
  keep/providers/solarwinds_provider/solarwinds_provider.py
Due: build:api, build:event-handler

fix: update test assertions to use .value for AlertDto string fields
  tests/test_snmp_provider.py
Due: none

fix: update test assertions to use .value for AlertDto string fields
  tests/test_solarwinds_provider.py
Due: none

style: apply black and isort formatting
  conftest_standalone.py
  keep/__init__.py
  keep/providers/snmp_provider/snmp_provider.py
  test_standalone.py
  tests/test_snmp_provider.py
Due: build:api, build:event-handler

style: apply black and isort formatting
  keep/providers/solarwinds_provider/alerts_mock.py
  keep/providers/solarwinds_provider/solarwinds_provider.py
  tests/test_solarwinds_provider.py
Due: build:api, build:event-handler

chore: remove stray files from repo
  conftest_standalone.py
  keep/__init__.py
  test_standalone.py
Due: build:api, build:event-handler

Fix UptimeKuma provider: KeyError, N+1 API calls, and datetime offset handling
  keep/providers/uptimekuma_provider/uptimekuma_provider.py
Due: build:api, build:event-handler

Minor fixes
  keep/api/core/db_utils.py
Due: build:api, build:event-handler

fix(ui): prevent false 'Alert fingerprint not found' on alerts re-fetch
  keep-ui/app/(keep)/alerts/[id]/ui/alerts.tsx
Due: build:ui

fix(prometheus): always set value/instance/job as "" when absent
  keep/providers/prometheus_provider/prometheus_provider.py
Due: build:api, build:event-handler

fix(tests): add missing `responses` dev dependency
  pyproject.toml
Due: build:api, build:event-handler

fix: address review feedback on SNMP provider
  keep/providers/snmp_provider/snmp_provider.py
  tests/test_snmp_provider.py
Due: build:api, build:event-handler

chore: update poetry.lock after adding responses dependency
  poetry.lock
Due: build:api, build:event-handler

fix: correct test_missing_id assertion — AlertDto auto-generates UUID4
  tests/test_snmp_provider.py
Due: none

feat: Add SolarWinds provider with pull + push support
  docs/providers/documentation/solarwinds-provider.mdx
  docs/snippets/providers/solarwinds-snippet-autogenerated.mdx
  keep-ui/public/icons/solarwinds-icon.png
  keep/providers/solarwinds_provider/__init__.py
  keep/providers/solarwinds_provider/alerts_mock.py
  keep/providers/solarwinds_provider/solarwinds_provider.py
  tests/test_solarwinds_provider.py
Due: build:api, build:event-handler, build:ui

feat(provider): add Nagios webhook provider (#3960)
  keep/providers/nagios_provider/README.md
  keep/providers/nagios_provider/__init__.py
  keep/providers/nagios_provider/alerts_mock.py
  keep/providers/nagios_provider/nagios_provider.py
  tests/test_nagios_provider.py
Due: build:api, build:event-handler

fix(nagios): correct validate_config signature
  keep/providers/nagios_provider/nagios_provider.py
Due: build:api, build:event-handler

refactor(nagios): harden webhook parsing and add edge-case tests
  keep/providers/nagios_provider/nagios_provider.py
  tests/test_nagios_provider.py
Due: build:api, build:event-handler

feat(provider): add SolarWinds webhook provider scaffold (#3526)
  keep/providers/solarwinds_provider/README.md
  keep/providers/solarwinds_provider/__init__.py
  keep/providers/solarwinds_provider/alerts_mock.py
  keep/providers/solarwinds_provider/solarwinds_provider.py
Due: build:api, build:event-handler

fix(ui): wait for alerts to finish loading before checking fingerprint
  keep-ui/app/(keep)/alerts/[id]/ui/alerts.tsx
Due: build:ui

fix: guard fingerprint modal against stale-empty alerts flash (v2.4.0)
  keep-ui/app/(keep)/alerts/[id]/ui/alerts.tsx
Due: build:ui

test: add regression test for stale-empty alerts dataSettled guard
  keep-ui/app/(keep)/alerts/[id]/ui/__tests__/alerts-fingerprint.test.tsx
Due: build:ui

test(provider): add SolarWinds formatter coverage and harden parser
  keep/providers/solarwinds_provider/solarwinds_provider.py
  tests/test_solarwinds_provider.py
Due: build:api, build:event-handler

fix(deps): sync package-lock.json with package.json (Node 20)
  keep-ui/package-lock.json
Due: build:ui

refactor(solarwinds): improve status defaults and readability
  keep/providers/solarwinds_provider/solarwinds_provider.py
  tests/test_solarwinds_provider.py
Due: build:api, build:event-handler

refactor(nagios): harden empty payload handling and lifecycle methods
  keep/providers/nagios_provider/nagios_provider.py
  tests/test_nagios_provider.py
Due: build:api, build:event-handler

fix(ui): guard fingerprint modal against stale-empty alerts flash (#5672)
  keep-ui/app/(keep)/alerts/[id]/ui/__tests__/alerts-fingerprint.test.tsx
  keep-ui/app/(keep)/alerts/[id]/ui/alerts.tsx
Due: build:ui

chore: Bump version from 0.49.0 to 0.49.1
  pyproject.toml
Due: build:api, build:event-handler

chore: Bump version from 0.49.0 to 0.49.1 (#5680)
  pyproject.toml
Due: build:api, build:event-handler
