Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml

style: apply black formatting to solarwinds provider
  keep/providers/solarwinds_provider/solarwinds_provider.py
Due: build:api, build:event-handler

test(solarwinds): add unit tests and mock data
  keep/providers/solarwinds_provider/alerts_mock.py
  tests/test_solarwinds_provider.py
Due: build:api, build:event-handler

fix: prevent incident table horizontal overflow from long summaries (#6085)
  keep-ui/features/incidents/incident-list/ui/incidents-table.tsx
  keep-ui/shared/ui/FormattedContent/FormattedContent.tsx
  tests/e2e_tests/incidents_alerts_tests/test_xss_protection.py
Due: build:ui

chore: Bump version from 0.50.0 to 0.51.0
  pyproject.toml
Due: build:api, build:event-handler

chore: Bump version from 0.50.0 to 0.51.0 (#6110)
  pyproject.toml
Due: build:api, build:event-handler

feat: enhance GitHub Workflows provider with alert pulling and webhook support (#4753)
  keep/providers/github_workflows_provider/README.md
  keep/providers/github_workflows_provider/__init__.py
  keep/providers/github_workflows_provider/github_workflows_provider.py
  keep/providers/github_workflows_provider/test_github_workflows_provider.py
Due: build:api, build:event-handler

feat: add Rootly provider for incident management and alert aggregation (#4068)
  keep/providers/rootly_provider/README.md
  keep/providers/rootly_provider/__init__.py
  keep/providers/rootly_provider/rootly_provider.py
  keep/providers/rootly_provider/test_rootly_provider.py
Due: build:api, build:event-handler

fix: add missing COPY for keep source code in Dockerfile.dev.api
  docker/Dockerfile.dev.api
Due: none

fix: add Redis SSL/TLS support via REDIS_SSL env var (#6104)
  keep/api/redis_settings.py
Due: build:api, build:event-handler

fix: add Redis SSL/TLS support via REDIS_SSL env var (#6115)
  keep/api/redis_settings.py
Due: build:api, build:event-handler

fix: add missing COPY for keep source code in Dockerfile.dev.api (#6114)
  docker/Dockerfile.dev.api
Due: none

attempt #2112 algora profile @gittare
  docs/providers/documentation/snmp-provider.mdx
  docs/snippets/providers/snmp-snippet-autogenerated.mdx
  keep/providers/snmp_provider/snmp_provider.py
  poetry.lock
  pyproject.toml
  tests/providers/snmp_provider/test_snmp_provider.py
Due: build:api, build:event-handler

Fix SNMP provider testability
  keep/providers/snmp_provider/snmp_provider.py
  keep/providers/snmp_provider/snmp_utils.py
  tests/providers/snmp_provider/test_snmp_provider.py
Due: build:api, build:event-handler

feat(i18n): complete Chinese localization pass for key UI flows
  keep-ui/app/(keep)/providers/provider-logs.tsx
  keep-ui/app/(keep)/settings/auth/api-key-table.tsx
  keep-ui/app/(keep)/settings/auth/groups-table.tsx
  keep-ui/app/(keep)/settings/auth/permissions-sidebar.tsx
  keep-ui/app/(keep)/settings/auth/permissions-table.tsx
  keep-ui/app/(keep)/settings/auth/roles-table.tsx
  keep-ui/app/(keep)/settings/auth/users-table.tsx
  keep-ui/app/(keep)/settings/provider-images/provider-image-list.tsx
  keep-ui/app/(keep)/topology/ui/applications/applications-list.tsx
  keep-ui/app/(keep)/topology/ui/map/service-node.tsx
  keep-ui/app/(keep)/topology/ui/map/topology-map.tsx
  keep-ui/app/not-authorized.tsx
  keep-ui/components/ui/DateRangePicker.tsx
  keep-ui/components/ui/DateRangePickerV2.tsx
  keep-ui/components/ui/Modal.tsx
  keep-ui/features/alerts/alert-change-status/ui/alert-change-status-modal.tsx
  keep-ui/features/filter/add-facet-modal-with-suggestions.tsx
  keep-ui/features/filter/add-facet-modal.tsx
  keep-ui/features/incidents/incident-list/ui/incidents-table.tsx
  keep-ui/features/workflows/manual-run-workflow/ui/manual-run-workflow-modal.tsx
  keep-ui/i18n/messages/en.json
  keep-ui/i18n/messages/zh-CN.json
  keep-ui/i18n/request.ts
  keep-ui/shared/ui/LanguageSwitcher/LanguageSwitcher.tsx
  keep-ui/shared/ui/theme/ThemeControl.tsx
Due: build:ui

docs: add Chinese README
  README.zh.md
Due: none

fix: add request parameter to webhook_challenge for Netdata (#6116)
  keep/api/routes/alerts.py
Due: build:api, build:event-handler

feat: add AWS Bedrock provider for foundational model integration (#5190)
  keep/providers/bedrock_provider/__init__.py
  keep/providers/bedrock_provider/bedrock_provider.py
  tests/providers/bedrock_provider/__init__.py
  tests/providers/bedrock_provider/test_bedrock_provider.py
Due: build:api, build:event-handler

fix(i18n): improve Chinese localization and fix hydration issues
  README.zh.md
  keep-ui/app/(keep)/workflows/create-workflow-modal.tsx
  keep-ui/app/(keep)/workflows/no-workflows-state.tsx
  keep-ui/features/alerts/alert-note/ui/alert-note-modal.tsx
  keep-ui/features/incidents/create-or-update-incident/ui/create-or-update-incident-form.tsx
  keep-ui/i18n/messages/zh-CN.json
Due: build:ui

fix(i18n): adjust language switcher dropdown direction to open upward
  keep-ui/components/navbar/UserInfo.tsx
  keep-ui/shared/ui/LanguageSwitcher/LanguageSwitcher.tsx
Due: build:ui

fix(i18n): add linkedIncident translation key and fix typo
  keep-ui/i18n/messages/zh-CN.json
  keep-ui/shared/ui/KeepLoader/KeepLoader.tsx
Due: build:ui

fix(i18n): translate Add Facet and Reset buttons in facets panel
  keep-ui/features/filter/facets-panel.tsx
Due: build:ui

fix(i18n): translate facet names in incident list
  keep-ui/features/filter/facet.tsx
Due: build:ui

fix(i18n): translate hardcoded English text in providers and workflows
  keep-ui/app/(keep)/providers/components/providers-filter-by-label/providers-filter-by-label.tsx
  keep-ui/app/(keep)/providers/components/providers-search/providers-search.tsx
  keep-ui/app/(keep)/providers/provider-form.tsx
  keep-ui/app/(keep)/workflows/[workflow_id]/workflow-providers.tsx
  keep-ui/app/(keep)/workflows/workflow-templates/workflow-templates.tsx
  keep-ui/features/workflows/builder/ui/Editor/StepEditor.tsx
  keep-ui/i18n/messages/en.json
  keep-ui/i18n/messages/zh-CN.json
  keep-ui/shared/ui/KeepLoader/KeepLoader.tsx
Due: build:ui

fix: add request parameter to webhook_challenge for Netdata (#6121)
  keep/api/routes/alerts.py
Due: build:api, build:event-handler

fix(i18n): translate remaining hardcoded UI strings
  keep-ui/app/(keep)/maintenance/create-or-update-maintenance-rule.tsx
  keep-ui/app/(keep)/rules/CorrelationSidebar/AlertsFoundBadge.tsx
  keep-ui/app/(keep)/workflows/workflow-graph.tsx
  keep-ui/app/(keep)/workflows/workflow-templates/workflow-templates.tsx
  keep-ui/components/navbar/AILink.tsx
  keep-ui/features/presets/presets-manager/ui/alerts-rules-builder.tsx
  keep-ui/i18n/messages/en.json
  keep-ui/i18n/messages/zh-CN.json
  keep-ui/widgets/alerts-table/ui/ColumnSelection.tsx
  keep-ui/widgets/workflow-builder/workflow-builder-card.tsx
  keep-ui/widgets/workflow-builder/workflow-builder.tsx
Due: build:ui

fix(i18n): translate alerts page empty state, settings, and pagination
  keep-ui/components/table/Pagination.tsx
  keep-ui/features/filter/pagination.tsx
  keep-ui/i18n/messages/en.json
  keep-ui/i18n/messages/zh-CN.json
  keep-ui/widgets/alerts-table/ui/SettingsSelection.tsx
  keep-ui/widgets/alerts-table/ui/alert-pagination.tsx
  keep-ui/widgets/alerts-table/ui/alert-table-server-side.tsx
Due: build:ui

fix(i18n): translate severity/status facets and fix pagination button
  keep-ui/app/(keep)/alerts/[id]/ui/alert-table-facet-value.tsx
  keep-ui/features/filter/pagination.tsx
  keep-ui/i18n/messages/en.json
  keep-ui/i18n/messages/zh-CN.json
  keep-ui/widgets/alerts-table/ui/alert-pagination.tsx
Due: build:ui

fix(i18n): add missing alerts.labels.rowStyle and alerts.labels.actionTray translations
  keep-ui/i18n/messages/en.json
  keep-ui/i18n/messages/zh-CN.json
Due: build:ui

fix(i18n): translate status and severity facet values in incident list
  keep-ui/features/incidents/incident-list/ui/incident-list.tsx
Due: build:ui

fix(i18n): translate 'feed' preset name to alerts.feed translation
  keep-ui/widgets/alerts-table/ui/alert-table-server-side.tsx
Due: build:ui

fix(i18n): fix severity/status translation key case sensitivity
  keep-ui/app/(keep)/alerts/[id]/ui/alert-table-facet-value.tsx
Due: build:ui

fix(i18n): translate Severity, Status and Dismissed facet values in alerts table
  keep-ui/features/filter/facet-value.tsx
  keep-ui/widgets/alerts-table/ui/alert-table-server-side.tsx
Due: build:ui

fix(i18n): add missing maintenance status translation
  keep-ui/i18n/messages/en.json
  keep-ui/i18n/messages/zh-CN.json
Due: build:ui

fix(i18n): translate Incident facet name in alerts feed page
  keep-ui/features/filter/facet.tsx
Due: build:ui

fix: resolve broken documentation link for PostgreSQL provider
  keep-ui/app/(keep)/providers/provider-form.tsx
  keep-ui/shared/api/providers.ts
  keep/api/models/provider.py
  keep/providers/postgres_provider/postgres_provider.py
  keep/providers/providers_factory.py
Due: build:api, build:event-handler, build:ui

fix: resolve 4 critical bugs in UptimeKuma provider
  keep/providers/uptimekuma_provider/uptimekuma_provider.py
  tests/providers/uptimekuma_provider/test_uptimekuma_bugs.py
Due: build:api, build:event-handler

fix: distinguish RBAC 403 from 'not installed' in FluxCD provider
  keep/providers/fluxcd_provider/fluxcd_provider.py
Due: build:api, build:event-handler

fix: distinguish RBAC 403 from 'not installed' in FluxCD provider (#6126)
  keep/providers/fluxcd_provider/fluxcd_provider.py
Due: build:api, build:event-handler
