Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml

Add handling for username display when using oauth2-proxy
  keep-ui/app/(signin)/signin/SignInForm.tsx
  keep-ui/auth.config.ts
  keep-ui/shared/lib/__tests__/oauth2proxy-auth.test.ts
  keep-ui/shared/lib/oauth2proxy-auth.ts
Due: build:ui

clean up
  keep-ui/auth.config.ts
Due: build:ui

fix(cyaml): set allow_unicode=True to preserve block literal style for non-ASCII strings
  keep/functions/cyaml.py
Due: build:api, build:event-handler

test(cyaml): regression test for block literal preservation with non-ASCII strings
  tests/test_cyaml.py
Due: none

feat(provider): add GitHub Actions Workflows provider
  docs/providers/documentation/github_workflows-provider.mdx
  keep/providers/github_workflows_provider/github_workflows_provider.py
  keep/providers/providers_factory.py
Due: build:api, build:event-handler

fix: batch_enrich now merges enrichments instead of overwriting
  keep/api/core/db.py
  tests/test_enrichments.py
Due: build:api, build:event-handler

chore: Bump version from 0.49.0 to 0.49.1 (#5680)
  pyproject.toml
Due: build:api, build:event-handler

fix(tests): add missing `responses` dev dependency (#5670)
  poetry.lock
  pyproject.toml
Due: build:api, build:event-handler

fix(deps): sync package-lock.json with package.json (Node 20) (#5676)
  keep-ui/package-lock.json
Due: build:ui

feat: add support for in-cluster authentication to Kubernetes provider (#5526) (#5619)
  keep/providers/kubernetes_provider/kubernetes_provider.py
Due: build:api, build:event-handler

feat(servicenow): pull activity from incidents into Keep incidents (#5618)
  keep/providers/servicenow_provider/servicenow_provider.py
  tests/test_servicenow_provider.py
Due: build:api, build:event-handler

fix(prometheus): always set value/instance/job as "" when absent (#5669)
  keep/providers/prometheus_provider/prometheus_provider.py
Due: build:api, build:event-handler

fix(ui): prevent false 'Alert fingerprint not found' on alerts re-fetch (#5666)
  keep-ui/app/(keep)/alerts/[id]/ui/alerts.tsx
Due: build:ui

fix(ui): guard fingerprint modal against stale-empty alerts flash (#5672)
  keep-ui/app/(keep)/alerts/[id]/ui/__tests__/alerts-fingerprint.test.tsx
  keep-ui/app/(keep)/alerts/[id]/ui/alerts.tsx
Due: build:ui

fix(cyaml): preserve block literal style with non-ASCII chars
  keep/functions/cyaml.py
Due: build:api, build:event-handler

feat: add Nagios provider for alert ingestion
  keep/providers/nagios_provider/README.md
  keep/providers/nagios_provider/__init__.py
  keep/providers/nagios_provider/nagios_provider.py
  tests/test_nagios_provider.py
Due: build:api, build:event-handler

feat: add Nagios provider
  keep/providers/nagios_provider/__init__.py
  keep/providers/nagios_provider/nagios_provider.py
Due: build:api, build:event-handler

feat: add SolarWinds provider
  keep/providers/solarwinds_provider/__init__.py
  keep/providers/solarwinds_provider/solarwinds_provider.py
Due: build:api, build:event-handler

feat: add SNMP provider
  keep/providers/snmp_provider/__init__.py
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

Update SNMP provider with latest fixes
  keep/providers/snmp_provider/config.py
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: map PagerDuty incidents to urgency instead of priority (#2154)
  keep/providers/pagerduty_provider/pagerduty_provider.py
  tests/test_pagerduty_provider.py
Due: build:api, build:event-handler

fix: map PagerDuty incidents to urgency instead of priority (#2154) (#5698)
  keep/providers/pagerduty_provider/pagerduty_provider.py
  tests/test_pagerduty_provider.py
Due: build:api, build:event-handler

fix(tests): resolve requests monkey-patch recursion and missing tenant_id fixture
  keep/api/api.py
  tests/test_incidents.py
Due: build:api, build:event-handler

fix(tests): use create_incident_from_dict to avoid running_number collision
  tests/test_incidents.py
Due: none

fix(tests): patch incidents.engine for is_visible filter test
  tests/test_incidents.py
Due: none

fix(tests): rewrite is_visible test to query DB directly
  tests/test_incidents.py
Due: none

fix(tests): increase timeout for CEL search e2e assertion
  tests/e2e_tests/incidents_alerts_tests/test_filtering_sort_search_on_alerts.py
Due: none

fix(tests): resolve requests monkey-patch recursion and missing tenant_id fixture (#5700)
  keep/api/api.py
  tests/e2e_tests/incidents_alerts_tests/test_filtering_sort_search_on_alerts.py
  tests/test_incidents.py
Due: build:api, build:event-handler

fix(cyaml): preserve block literal style with non-ASCII chars (#5690)
  keep/functions/cyaml.py
Due: build:api, build:event-handler

fix: batch_enrich now merges enrichments instead of overwriting
  keep/api/core/db.py
Due: build:api, build:event-handler

feat: add SNMP provider for receiving SNMP traps as alerts
  docs/mint.json
  docs/providers/documentation/snmp-provider.mdx
  keep-ui/public/icons/snmp-icon.png
  keep/providers/snmp_provider/__init__.py
  keep/providers/snmp_provider/alerts_mock.py
  keep/providers/snmp_provider/snmp_provider.py
  tests/providers/test_snmp_provider.py
Due: build:api, build:event-handler, build:ui

feat: oauth2 proxy username display (#5685)
  keep-ui/app/(signin)/signin/SignInForm.tsx
  keep-ui/auth.config.ts
  keep-ui/shared/lib/__tests__/oauth2proxy-auth.test.ts
  keep-ui/shared/lib/oauth2proxy-auth.ts
Due: build:ui

fix: batch_enrich now merges enrichments instead of overwriting (#5691)
  keep/api/core/db.py
  tests/test_enrichments.py
Due: build:api, build:event-handler

feat: allow posting alerts service-to-service
  docs/deployment/configuration.mdx
  keep/identitymanager/authverifierbase.py
Due: build:api, build:event-handler

add tests
  tests/test_auth.py
Due: none

feat: allow posting alerts service-to-service (#5705)
  docs/deployment/configuration.mdx
  keep/identitymanager/authverifierbase.py
  tests/test_auth.py
Due: build:api, build:event-handler

fix: trigger workflows on auto-resolve of incidents (#5651)
  keep/api/bl/incidents_bl.py
  keep/rulesengine/rulesengine.py
  tests/test_auto_resolve_workflow.py
Due: build:api, build:event-handler

test(iohandler): add unit tests for fn.* Mustache lambda helpers
  tests/test_iohandler.py
Due: none
