Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml

feat(prometheus): add return type annotation and HTTP error wrapping to execute_query
  keep/providers/prometheus_provider/prometheus_provider.py
Due: build:api, build:event-handler

regenerate prometheus provider docs snippet after rebase
  docs/snippets/providers/prometheus-snippet-autogenerated.mdx
Due: none

fix(prometheus): add Thanos compatibility mode via thanos_compatible flag
  keep/providers/prometheus_provider/prometheus_provider.py
Due: build:api, build:event-handler

fix(prometheus): use /api/v1/rules for Thanos mode — preserves annotations, fingerprints, pending alerts
  keep/providers/prometheus_provider/prometheus_provider.py
Due: build:api, build:event-handler

regenerate provider docs snippets after rebase onto main
  docs/snippets/providers/anthropic-snippet-autogenerated.mdx
  docs/snippets/providers/prometheus-snippet-autogenerated.mdx
Due: none

fix(http-provider): deserialise string body before passing to requests.json
  keep/providers/http_provider/http_provider.py
Due: build:api, build:event-handler

fix: Add unit tests
  tests/providers/http_provider/test_http_provider.py
Due: none

fix: tests docs
  docs/snippets/providers/anthropic-snippet-autogenerated.mdx
Due: none

feat: provision mapping rules from a directory at startup (#4487)
  .gitignore
  docs/deployment/provision/mapping.mdx
  docs/deployment/provision/overview.mdx
  keep/api/bl/mapping_rules_provisioning.py
  keep/api/config.py
  keep/api/models/db/mapping.py
  keep/api/models/db/migrations/versions/2026-05-28-16-50_67ff7efffed4.py
  tests/provision/mapping_rules_1/prometheus-alerts.yaml
  tests/provision/mapping_rules_2/cloudwatch-alerts.yaml
  tests/provision/mapping_rules_2/prometheus-alerts.yaml
  tests/provision/mapping_rules_empty/.gitkeep
  tests/provision/mapping_rules_invalid/good.yaml
  tests/provision/mapping_rules_invalid/zzz-bad-missing-rows.yaml
  tests/provision/mapping_rules_same_name/a-first.yaml
  tests/provision/mapping_rules_same_name/b-second.yaml
  tests/provision/mapping_rules_with_noise/example.yaml
  tests/provision/mapping_rules_with_noise/notes.txt
  tests/test_mapping_rules_provisioning.py
Due: build:api, build:event-handler

feat: reject UI mutations of provisioned mapping rules (HTTP 409)
  keep/api/routes/mapping.py
  tests/test_mapping_rules_provisioning.py
Due: build:api, build:event-handler

fix: stabilize provisioned_file comparison and improve error logging
  keep/api/bl/mapping_rules_provisioning.py
  tests/test_mapping_rules_provisioning.py
Due: build:api, build:event-handler

feat: provision mapping rules from a directory at startup (#6544)
  .gitignore
  docs/deployment/provision/mapping.mdx
  docs/deployment/provision/overview.mdx
  keep/api/bl/mapping_rules_provisioning.py
  keep/api/config.py
  keep/api/models/db/mapping.py
  keep/api/models/db/migrations/versions/2026-05-28-16-50_67ff7efffed4.py
  keep/api/routes/mapping.py
  tests/provision/mapping_rules_1/prometheus-alerts.yaml
  tests/provision/mapping_rules_2/cloudwatch-alerts.yaml
  tests/provision/mapping_rules_2/prometheus-alerts.yaml
  tests/provision/mapping_rules_empty/.gitkeep
  tests/provision/mapping_rules_invalid/good.yaml
  tests/provision/mapping_rules_invalid/zzz-bad-missing-rows.yaml
  tests/provision/mapping_rules_same_name/a-first.yaml
  tests/provision/mapping_rules_same_name/b-second.yaml
  tests/provision/mapping_rules_with_noise/example.yaml
  tests/provision/mapping_rules_with_noise/notes.txt
  tests/test_mapping_rules_provisioning.py
Due: build:api, build:event-handler

fix(api): prevent background task garbage collection in lifespan startup
  keep/api/api.py
Due: build:api, build:event-handler

populate alert labels from webhook incident parameters
  keep/providers/site24x7_provider/site24x7_provider.py
Due: build:api, build:event-handler

fix: Simpler approach to load all incident params into labels (#6541)
  keep/providers/site24x7_provider/site24x7_provider.py
Due: build:api, build:event-handler

feat: Add continue_on_error flag to steps and action
  docs/mint.json
  docs/workflows/examples/continue-on-error.mdx
  docs/workflows/syntax/steps-and-actions.mdx
  keep/step/step.py
  keep/workflowmanager/workflow.py
  tests/test_steps.py
  tests/test_workflowmanager.py
Due: build:api, build:event-handler

update schema
  keep-ui/entities/workflows/model/yaml.schema.ts
Due: build:ui

fix: Add actionError handling
  keep/workflowmanager/workflow.py
  tests/test_workflowmanager.py
Due: build:api, build:event-handler

Add dev instructions
  dev.sh
Due: none

Add local workflow
  .github/workflows/build-images.yml
Due: none

fix credentials
  .github/workflows/build-images.yml
Due: none

enable logs
  .github/workflows/build-images.yml
Due: none

enable debug logs
  .github/workflows/build-images.yml
  docker/Dockerfile.ui
  keep-ui/next.config.js
Due: build:ui

fix: Regression introduced on #6540
  keep-ui/shared/ui/MonacoCELEditor/MonacoCel.tsx
Due: build:ui

chore: Bump version from 0.52.1 to 0.53.0
  pyproject.toml
Due: build:api, build:event-handler

chore: Bump version from 0.52.1 to 0.53.0 (#6558)
  pyproject.toml
Due: build:api, build:event-handler

fix(MonacoCel): move dynamic import to module level to prevent render-cycle interference (#6556)
  keep-ui/shared/ui/MonacoCELEditor/MonacoCel.tsx
Due: build:ui

feat: Add continue_on_error support for workflow steps and actions (#6554)
  docs/mint.json
  docs/workflows/examples/continue-on-error.mdx
  docs/workflows/syntax/steps-and-actions.mdx
  keep-ui/entities/workflows/model/yaml.schema.ts
  keep/step/step.py
  keep/workflowmanager/workflow.py
  tests/test_steps.py
  tests/test_workflowmanager.py
Due: build:api, build:event-handler, build:ui

feat: issue #5674- improve wf parsing
  keep/workflowmanager/workflowstore.py
Due: build:api, build:event-handler

feat: add keep.dict_set and dict_merge workflow helpers
  keep/functions/__init__.py
  tests/test_functions.py
Due: build:api, build:event-handler

feat: add `keep.dict_set` and `dict_merge` workflow helpers (#6560)
  keep/functions/__init__.py
  tests/test_functions.py
Due: build:api, build:event-handler

[keephq/keep] New Provider: Squadcast
  Makefile
  docs/squadcast-provider.md
  keep/providers/squadcast_provider.py
  keep/providers/squadcast_provider/squadcast_provider.py
  requirements.txt
  tests/providers/test_squadcast_provider.py
  tests/test_squadcast_provider.py
Due: build:api, build:event-handler

feat: Add "correlate" rule type to deduplication rules
  keep-ui/app/(keep)/deduplication/DeduplicationSidebar.tsx
  keep-ui/app/(keep)/deduplication/DeduplicationTable.tsx
  keep-ui/app/(keep)/deduplication/models.tsx
  keep/api/alert_deduplicator/alert_deduplicator.py
  keep/api/core/db.py
  keep/api/models/alert.py
  keep/api/models/db/alert.py
  keep/api/models/db/migrations/versions/2026-06-09-10-00_add_rule_type_to_deduplication.py
  keep/api/models/db/migrations/versions/2026-06-09-11-00_add_correlation_fingerprint_to_lastalert.py
  keep/providers/base/base_provider.py
  tests/deduplication/test_correlation_rule.py
Due: build:api, build:event-handler, build:ui

fix: unit tests
  tests/test_get_alerts_custom_dedup.py
Due: none

fix: prevent AUTH0 test timeout caused by OIDC discovery HTTP call
  tests/fixtures/client.py
Due: none

fix: test docs workflow run
  docs/mint.json
Due: none

fix: order in get last alert
  keep/api/core/db.py
Due: build:api, build:event-handler
