Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

build:api:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

build:event-handler:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

build:ui:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

fix: enforce incident trigger CEL in insert_incident
  keep/workflowmanager/workflowmanager.py
Due: build:api, build:event-handler

feat: add MongoDB Atlas provider
  README.md
  docs/mint.json
  docs/providers/documentation/mongodbatlas-provider.mdx
  docs/providers/overview.mdx
  docs/snippets/providers/mongodbatlas-snippet-autogenerated.mdx
  keep-ui/public/icons/mongodbatlas-icon.png
  keep/providers/mongodbatlas_provider/__init__.py
  keep/providers/mongodbatlas_provider/mongodbatlas_provider.py
Due: build:api, build:event-handler, build:ui

fix(tests): mock Auth0 OIDC discovery for legacy MULTI_TENANT auth type
  tests/fixtures/client.py
Due: none

docs(discord): regenerate autogenerated provider snippets
  docs/snippets/providers/base-snippet-autogenerated.mdx
  docs/snippets/providers/discord-snippet-autogenerated.mdx
Due: none

fix: handle quoted alert JSON in workflow functions
  keep/iohandler/iohandler.py
  tests/test_iohandler.py
Due: build:api, build:event-handler

fix: widen alert table column resize hit target
  keep-ui/widgets/alerts-table/ui/alert-table-headers.tsx
Due: build:ui

fix: widen column resize handle hit target from 2px to 8px (Fixes #6660)
  keep-ui/widgets/alerts-table/ui/alert-table-headers.tsx
Due: build:ui

fix: widen alert table column resize hit target (#6661)
  keep-ui/widgets/alerts-table/ui/alert-table-headers.tsx
Due: build:ui

fix: prevent horizontal scroll on Extractions page by adding overflow-x-auto and truncating long text
  keep-ui/app/(keep)/extraction/extraction.tsx
  keep-ui/app/(keep)/extraction/extractions-table.tsx
Due: build:ui

fix: rightmost column cannot be moved in preset view despite saved config (Fixes #5118)
  keep-ui/entities/presets/model/usePresetColumnState.ts
  keep-ui/widgets/alerts-table/ui/alert-table-headers.tsx
Due: build:ui

fix: stabilize OAuth2-Proxy session hydration by seeding SessionProvider with server session
  keep-ui/app/auth-provider.tsx
Due: build:ui

fix: skip grouped columns when moving columns left/right (Fixes #4853)
  keep-ui/widgets/alerts-table/ui/alert-table-headers.tsx
Due: build:ui

fix(victorialogs): return empty headers for NoAuth instead of None
  keep/providers/victorialogs_provider/victorialogs_provider.py
  tests/providers/victorialogs_provider/test_victorialogs_noauth.py
Due: build:api, build:event-handler

fix(victorialogs): return empty headers for NoAuth instead of None (#6668)
  keep/providers/victorialogs_provider/victorialogs_provider.py
  tests/providers/victorialogs_provider/test_victorialogs_noauth.py
Due: build:api, build:event-handler

fix(litellm): fail loudly on null content and accept fenced JSON
  keep/providers/litellm_provider/litellm_provider.py
  tests/providers/litellm_provider/test_litellm_response_parsing.py
Due: build:api, build:event-handler

feat(grafana): query any datasource via /api/ds/query
  keep/providers/grafana_provider/grafana_provider.py
  tests/providers/grafana_provider/test_grafana_datasource_query.py
Due: build:api, build:event-handler

docs(grafana): regenerate provider snippet for the new query step
  docs/snippets/providers/grafana-snippet-autogenerated.mdx
  keep/providers/grafana_provider/grafana_provider.py
Due: build:api, build:event-handler

feat(grafana): query any datasource via /api/ds/query (#6673)
  docs/snippets/providers/grafana-snippet-autogenerated.mdx
  keep/providers/grafana_provider/grafana_provider.py
  tests/providers/grafana_provider/test_grafana_datasource_query.py
Due: build:api, build:event-handler

fix(litellm): fail loudly on null content and accept fenced JSON (#6671)
  keep/providers/litellm_provider/litellm_provider.py
  tests/providers/litellm_provider/test_litellm_response_parsing.py
Due: build:api, build:event-handler

feat(litellm): return token usage and cost with the response
  keep/providers/litellm_provider/litellm_provider.py
  tests/providers/litellm_provider/test_litellm_response_parsing.py
Due: build:api, build:event-handler

feat(litellm): return token usage and cost with the response (#6678)
  keep/providers/litellm_provider/litellm_provider.py
  tests/providers/litellm_provider/test_litellm_response_parsing.py
Due: build:api, build:event-handler

fix(maintenance_windows): handle invalid CEL syntax gracefully
  keep/api/bl/maintenance_windows_bl.py
Due: build:api, build:event-handler

fix: correctly parse PUSHER_USE_SSL environment variable (#6582)
  keep/api/core/dependencies.py
Due: build:api, build:event-handler

fix: correctly parse PUSHER_USE_SSL environment variable (#6582) (#6680)
  keep/api/core/dependencies.py
Due: build:api, build:event-handler

fix(keep-mcp): run tests in CI, clamp pagination, describe every tool
  .github/workflows/test-pr-ut-mcp.yml
  docker-compose.common.yml
  docker-compose.yml
  keep-mcp/README.md
  keep-mcp/pyproject.toml
  keep-mcp/src/keep_mcp/__main__.py
  keep-mcp/tests/test_tools.py
Due: none

ci(keep-mcp): pin ruff to the version the repo already uses
  .github/workflows/test-pr-ut-mcp.yml
Due: none

fix: Surface total SignalFx alert formatting failure
  keep/providers/signalfx_provider/signalfx_provider.py
  tests/providers/signalfx_provider/test_signalfx_get_alerts.py
  uv.lock
Due: build:api, build:event-handler

fix(http-provider): stop duplicating results on notify
  keep/providers/http_provider/http_provider.py
  tests/providers/http_provider/test_http_provider_bugs.py
Due: build:api, build:event-handler

fix(http-provider): don't double-encode a templated JSON body
  keep/providers/http_provider/http_provider.py
  tests/providers/http_provider/test_http_provider_json_body.py
Due: build:api, build:event-handler

feat(prometheus): expose an instant PromQL query as a provider method
  keep/providers/prometheus_provider/prometheus_provider.py
  tests/providers/prometheus_provider/test_prometheus_query_method.py
Due: build:api, build:event-handler

feat(providers): add Rocket.Chat provider
  README.md
  docs/mint.json
  docs/providers/documentation/rocketchat-provider.mdx
  docs/providers/overview.mdx
  docs/snippets/providers/rocketchat-snippet-autogenerated.mdx
  keep-ui/public/icons/rocketchat-icon.png
  keep/providers/rocketchat_provider/__init__.py
  keep/providers/rocketchat_provider/rocketchat_provider.py
  tests/providers/rocketchat_provider/test_rocketchat_provider.py
Due: build:api, build:event-handler, build:ui

fix(rulesengine): report matched sub-rules as written
  keep/rulesengine/rulesengine.py
  tests/test_alert_evaluation.py
Due: build:api, build:event-handler

test(rulesengine): cover incident creation for a null-bearing correlation rule
  tests/test_rules_engine.py
Due: none

fix(gemini): default to a model Google still serves
  keep/providers/gemini_provider/gemini_provider.py
Due: build:api, build:event-handler

fix(presets): don't rewrite search text when translating CEL contains
  keep-ui/features/presets/presets-manager/lib/__tests__/eval-with-context.test.ts
  keep-ui/features/presets/presets-manager/lib/eval-with-context.ts
Due: build:ui

fix: address self-review findings
  keep/api/routes/alerts.py
  tests/test_alerts.py
Due: build:api, build:event-handler

fix(gemini): default to a model Google still serves (#6697)
  keep/providers/gemini_provider/gemini_provider.py
Due: build:api, build:event-handler

fix(presets): don't rewrite search text when translating CEL contains (#6698)
  keep-ui/features/presets/presets-manager/lib/__tests__/eval-with-context.test.ts
  keep-ui/features/presets/presets-manager/lib/eval-with-context.ts
Due: build:ui

fix(providers): handle an empty choices list in litellm/vllm
  keep/providers/litellm_provider/litellm_provider.py
  keep/providers/vllm_provider/vllm_provider.py
  tests/providers/litellm_provider/test_litellm_response_parsing.py
Due: build:api, build:event-handler

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml
