Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml

fix: preserve original timestamps on workflow revisions (fixes #5328)
  keep/api/models/db/migrations/versions/2025-07-01-00-00_fix_workflowversion_updated_at.py
  keep/api/models/db/workflow.py
Due: build:api, build:event-handler

fix: populate condition field when editing extraction rules (fixes #5201)
  keep-ui/app/(keep)/extraction/create-or-update-extraction-rule.tsx
  keep-ui/features/presets/presets-manager/ui/alerts-rules-builder.tsx
Due: build:ui

fix: apply lastReceived field format changes in custom feeds (fixes #5236)
  keep-ui/types/react-table.d.ts
  keep-ui/widgets/alerts-table/lib/alert-table-utils.tsx
Due: build:ui

bounty: add keep/api/alerts.py
  keep/api/alerts.py
Due: build:api, build:event-handler

feat: implement SNMP provider for trap ingestion #2112
  keep/providers/snmp_provider/README.md
  keep/providers/snmp_provider/__init__.py
  keep/providers/snmp_provider/snmp_provider.py
  pyproject.toml
Due: build:api, build:event-handler

feat(providers): add SNMP support #2112
  keep/providers/snmp_provider/__init__.py
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

bounty: add keep/api/alerts/integrations/github.py
  keep/api/alerts/integrations/github.py
Due: build:api, build:event-handler

bounty: add tests/api/alerts/integrations/test_github_integration.py
  tests/api/alerts/integrations/test_github_integration.py
Due: none

bounty: add keep/api/alerts/integrations/github/README.md
  keep/api/alerts/integrations/github/README.md
Due: build:api, build:event-handler

fix(site24x7): resolve status always firing and tags never forwarded (#6195, #6196)
  keep/providers/site24x7_provider/site24x7_provider.py
  tests/providers/site24x7_provider/test_site24x7_bugs.py
Due: build:api, build:event-handler

feat: add OpenSearch provider
  keep/providers/opensearch_provider/__init__.py
  keep/providers/opensearch_provider/opensearch_provider.py
  keep/providers/opensearch_provider/test_opensearch_provider.py
Due: build:api, build:event-handler

feat(provider): add Vertex AI provider
  keep/providers/vertexai_provider/__init__.py
  keep/providers/vertexai_provider/alerts_mock.py
  keep/providers/vertexai_provider/vertexai_provider.py
  pyproject.toml
  tests/test_vertexai_provider.py
Due: build:api, build:event-handler

feat: add MongoDB Atlas provider with webhook and API alert support
  keep/providers/mongo_atlas_provider/README.md
  keep/providers/mongo_atlas_provider/__init__.py
  keep/providers/mongo_atlas_provider/mongo_atlas_provider.py
Due: build:api, build:event-handler

feat: add Mezmo (LogDNA) provider with webhook and API alert support
  keep/providers/mezmo_provider/README.md
  keep/providers/mezmo_provider/__init__.py
  keep/providers/mezmo_provider/mezmo_provider.py
Due: build:api, build:event-handler

feat: add Google Cloud Vertex AI provider
  keep/providers/vertex_ai_provider/README.md
  keep/providers/vertex_ai_provider/__init__.py
  keep/providers/vertex_ai_provider/vertex_ai_provider.py
Due: build:api, build:event-handler

feat: add Nagios monitoring provider with XI API and webhook support
  keep/providers/nagios_provider/README.md
  keep/providers/nagios_provider/__init__.py
  keep/providers/nagios_provider/nagios_provider.py
Due: build:api, build:event-handler

feat: add SolarWinds Orion monitoring provider
  keep/providers/solarwinds_provider/README.md
  keep/providers/solarwinds_provider/__init__.py
  keep/providers/solarwinds_provider/solarwinds_provider.py
Due: build:api, build:event-handler

feat: add ElastAlert2 provider with webhook and API support
  keep/providers/elastalert2_provider/README.md
  keep/providers/elastalert2_provider/__init__.py
  keep/providers/elastalert2_provider/elastalert2_provider.py
Due: build:api, build:event-handler

feat: add Grafana Mimir provider with Alertmanager API and webhook support
  keep/providers/mimir_provider/README.md
  keep/providers/mimir_provider/__init__.py
  keep/providers/mimir_provider/mimir_provider.py
Due: build:api, build:event-handler

ci: add Vertex AI provider test workflow
  .github/workflows/vertex-ai-test.yml
Due: none

fix(site24x7): resolve status and tags/labels not sent via webhook
  keep/providers/site24x7_provider/site24x7_provider.py
Due: build:api, build:event-handler

fix(site24x7): resolve status and tags/labels not sent via webhook (#6210)
  keep/providers/site24x7_provider/site24x7_provider.py
Due: build:api, build:event-handler

docs: fix broken Markdown link syntax in keep-with-litellm.mdx
  docs/deployment/local-llm/keep-with-litellm.mdx
Due: none

docs: fix broken Slack community link formatting
  docs/deployment/local-llm/keep-with-litellm.mdx
Due: none

fix: harden iohandler eval with ast.literal_eval and restricted builtins
  keep/iohandler/iohandler.py
  tests/test_iohandler.py
Due: build:api, build:event-handler

fix: rename ambiguous variable in site24x7 provider (ruff E741)
  keep/providers/site24x7_provider/site24x7_provider.py
Due: build:api, build:event-handler

fix: harden iohandler eval with ast.literal_eval and restricted builtins (#6215)
  keep/iohandler/iohandler.py
  keep/providers/site24x7_provider/site24x7_provider.py
  tests/test_iohandler.py
Due: build:api, build:event-handler

feat: add QualiTorque provider for environment lifecycle alerts
  docs/mint.json
  docs/providers/documentation/qualitorque-provider.mdx
  keep/providers/qualitorque_provider/__init__.py
  keep/providers/qualitorque_provider/qualitorque_provider.py
  tests/providers/qualitorque_provider/__init__.py
  tests/providers/qualitorque_provider/test_qualitorque_provider.py
Due: build:api, build:event-handler

feat: add Nagios provider #3960
  docs/mint.json
  docs/providers/documentation/nagios-provider.mdx
  docs/providers/overview.md
  docs/providers/overview.mdx
  docs/snippets/providers/nagios-snippet-autogenerated.mdx
  keep-ui/public/icons/nagios-icon.png
  keep/providers/nagios_provider/nagios_provider.py
Due: build:api, build:event-handler, build:ui

fix: generate UUID for prometheus alerts when id is not a valid uuid
  keep/providers/prometheus_provider/prometheus_provider.py
Due: build:api, build:event-handler

feat: add SolarWinds Orion provider
  docs/mint.json
  docs/providers/documentation/solarwinds-provider.mdx
  docs/providers/overview.md
  docs/providers/overview.mdx
  docs/snippets/providers/solarwinds-snippet-autogenerated.mdx
  keep-ui/public/icons/solarwinds-icon.png
  keep/providers/solarwinds_provider/__init__.py
  keep/providers/solarwinds_provider/solarwinds_provider.py
Due: build:api, build:event-handler, build:ui

fix: Redis lacking authentication for public network development
  docker-compose-with-arq.yml
Due: none

feat: add SNMP provider for receiving trap notifications (#2112)
  docs/mint.json
  docs/providers/documentation/snmp-provider.mdx
  docs/providers/overview.md
  docs/providers/overview.mdx
  docs/snippets/providers/snmp-snippet-autogenerated.mdx
  keep-ui/public/icons/snmp-icon.png
  keep/providers/snmp_provider/__init__.py
  keep/providers/snmp_provider/snmp_provider.py
  tests/providers/snmp_provider/test_snmp_provider.py
Due: build:api, build:event-handler, build:ui

fix: set event in foreach AlertDto path so incident resolution check runs
  keep/providers/base/base_provider.py
Due: build:api, build:event-handler

fix: rename ambiguous variable l to lbl in site24x7 provider (E741 ruff lint)
  keep/providers/site24x7_provider/site24x7_provider.py
Due: build:api, build:event-handler

feat: add Sematext Cloud provider (webhook integration)
  docs/providers/documentation/sematext-provider.mdx
  keep/providers/sematext_provider/__init__.py
  keep/providers/sematext_provider/sematext_provider.py
  tests/sematext_provider/__init__.py
  tests/sematext_provider/test_sematext_provider.py
Due: build:api, build:event-handler

fix: use correct RBAC scopes for incident delete and read endpoints
  keep/api/routes/incidents.py
Due: build:api, build:event-handler

fix: guard against non-functional localStorage in SSR/Node environment
  keep-ui/utils/hooks/useLocalStorage.ts
Due: build:ui

fix(workflows): sync workflow_raw YAML when toggling disabled state (fixes #5361)
  keep/api/routes/workflows.py
Due: build:api, build:event-handler
