Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml

fix: refactored apply custom deduplication rules so that deduplication can be applied to provider-less alerts
  keep/api/core/db.py
  keep/api/tasks/process_event_task.py
  keep/providers/base/base_provider.py
  tests/deduplication/test_deduplications.py
Due: build:api, build:event-handler

fix: corrected ingestion for array payloads and apply dedup to already-parsed alerts
  keep/api/tasks/process_event_task.py
  tests/deduplication/test_deduplications.py
Due: build:api, build:event-handler

test(dedup): add alert fingerprint hash deduplication and environment isolation specs
  tests/test_alert_deduplication_fingerprint_specs.py
Due: none

test(alerts): add alert timestamp ISO-8601 UTC and monotonic ordering specs
  tests/test_alert_timestamp_boundary_specs.py
Due: none

fix: refactored apply custom deduplication rules so that deduplicatio… (#6794)
  keep/api/core/db.py
  keep/api/tasks/process_event_task.py
  keep/providers/base/base_provider.py
  tests/deduplication/test_deduplications.py
Due: build:api, build:event-handler

fix: ingest array payloads posted to provider endpoints (#6798)
  keep/api/tasks/process_event_task.py
  tests/deduplication/test_deduplications.py
Due: build:api, build:event-handler

chore: Bump version from 0.54.2 to 0.54.3
  pyproject.toml
Due: build:api, build:event-handler

chore: Bump version from 0.54.2 to 0.54.3 (#6800)
  pyproject.toml
Due: build:api, build:event-handler

test(alerts): add alert severity ranking normalization and fallback specs
  tests/test_alert_severity_clamping_specs.py
Due: none

test(alerts): add deeply nested collection null byte sanitization specs
  tests/test_alert_utils.py
Due: none

testing commit
  .github/workflows/build-and-push-frontend-to-ecr.yaml
Due: none

fix(alert-timeline): make timeline scrollable with mouse wheel/trackpad
  keep-ui/features/alerts/alert-detail-sidebar/ui/alert-timeline.tsx
Due: build:ui

fix(sentry): don't crash the backend when Sentry returns an error with an empty body
  keep/providers/sentry_provider/sentry_provider.py
  tests/test_sentry_provider_error_body.py
Due: build:api, build:event-handler

fix(auth): normalize AUTH_TYPE to uppercase to prevent silent redirect loop
  keep-ui/auth.config.ts
Due: build:ui

fix(sentry): handle empty/non-JSON error responses in validate_scopes
  keep/providers/sentry_provider/sentry_provider.py
Due: build:api, build:event-handler

fix(sentry): keep scope validation alive when Sentry returns an empty error body
  keep/providers/sentry_provider/sentry_provider.py
  tests/test_sentry_provider.py
Due: build:api, build:event-handler

fix(cilium): pre-import protobuf dependencies before observer_pb2
  keep/providers/cilium_provider/cilium_provider.py
Due: build:api, build:event-handler

fix(auth): normalize AUTH_TYPE to uppercase to prevent silent redirect loop (#6810)
  keep-ui/auth.config.ts
Due: build:ui

fix(openai_provider): handle empty choices array defensively (#6715)
  keep/providers/openai_provider/openai_provider.py
Due: build:api, build:event-handler

fix(deepseek_provider): handle empty choices array defensively (#6715)
  keep/providers/deepseek_provider/deepseek_provider.py
Due: build:api, build:event-handler

fix(iohandler): preserve empty containers and literal False in template args (#6728)
  keep/iohandler/iohandler.py
Due: build:api, build:event-handler

test(iohandler): add unit tests verifying empty collections and False args (#6728)
  tests/test_iohandler.py
Due: none

fix(step): safely unwrap single foreach item when resolving to falsy scalar (#6721)
  keep/step/step.py
Due: build:api, build:event-handler

test(step): add unit test for single foreach resolving to falsy scalar (#6721)
  tests/test_steps.py
Due: none

fix(cilium): pre-import protobuf dependencies before observer_pb2 (#6815)
  keep/providers/cilium_provider/cilium_provider.py
Due: build:api, build:event-handler

test(sentry): cover the scope-validation error paths #6813 fixed
  tests/test_sentry_provider.py
Due: none

fix(appdynamics): don't crash logging when the controller returns a non-JSON error body
  keep/providers/appdynamics_provider/appdynamics_provider.py
  tests/providers/appdynamics_provider/test_appdynamics_error_body.py
Due: build:api, build:event-handler

fix(functions): support overnight windows in is_business_hours
  keep/functions/__init__.py
  tests/test_functions.py
Due: build:api, build:event-handler

docs: give the bug-reporting link a real target
  CONTRIBUTING.md
Due: none

fix(graylog): fix 'Go the the' in the webhook setup instructions
  keep/providers/graylog_provider/graylog_provider.py
Due: build:api, build:event-handler

fix(keep-provider): fix the copy-pasted docstring param in _handle_stateless_alerts
  keep/providers/keep_provider/keep_provider.py
Due: build:api, build:event-handler

feat(workflows): configure visibility in the manual run picker
  docs/workflows/syntax/triggers.mdx
  keep-ui/entities/workflows/lib/__tests__/parser.test.ts
  keep-ui/entities/workflows/lib/parser.ts
  keep-ui/entities/workflows/model/__tests__/yaml.schema.test.ts
  keep-ui/entities/workflows/model/schema.ts
  keep-ui/entities/workflows/model/yaml.schema.ts
  keep-ui/features/workflows/manual-run-workflow/ui/__tests__/manual-run-workflow-modal.test.tsx
  keep-ui/features/workflows/manual-run-workflow/ui/manual-run-workflow-modal.tsx
  keep-ui/shared/api/workflows.ts
  keep/api/models/workflow.py
  tests/test_workflow_manual_visibility.py
Due: build:api, build:event-handler, build:ui

test: isolate auth discovery and deduplication webhook setup
  tests/deduplication/test_deduplications.py
  tests/fixtures/client.py
  tests/test_auth_discovery_fixture.py
Due: none

fix(iohandler): don't drop empty container positional args in keep.* template calls
  keep/iohandler/iohandler.py
  tests/test_iohandler.py
Due: build:api, build:event-handler

fix(api): open the computed fallback path when default provider image is missing
  keep/api/routes/provider_images.py
  tests/test_provider_images.py
Due: build:api, build:event-handler

fix: keep a sub-day timerange from truncating to zero in keep provider
  keep/providers/keep_provider/keep_provider.py
  tests/test_keep_provider_time_delta.py
Due: build:api, build:event-handler

fix: keep float step parameters from being dropped during parsing
  keep/parser/parser.py
  tests/test_keep_provider_time_delta.py
Due: build:api, build:event-handler

fix(iohandler): drop deprecated ast.Str and .s usage
  keep/iohandler/iohandler.py
Due: build:api, build:event-handler

fix(ui): keep the error page from crashing without a session provider
  keep-ui/features/incidents/incident-list/ui/incident-table-filters-context.tsx
  keep-ui/shared/lib/hooks/__tests__/useApi.test.ts
  keep-ui/shared/lib/hooks/__tests__/useHealth.test.ts
  keep-ui/shared/lib/hooks/__tests__/useHydratedSession.test.ts
  keep-ui/shared/lib/hooks/useHealth.ts
  keep-ui/shared/lib/hooks/useHydratedSession.tsx
Due: build:ui
