Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

build:api:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

build:event-handler:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

build:ui:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

chore: remove fork-specific build/dev files from this PR
  .github/workflows/build-images.yml
  dev.sh
  docker/Dockerfile.ui
Due: build:ui

fix: resolve flaky unit test failures unrelated to this PR's changes
  tests/deduplication/test_deduplications.py
  tests/test_workflowstore.py
Due: none

Update Plivo provider icon to the current brand logo
  keep-ui/public/icons/plivo-icon.png
Due: build:ui

Add plivo to poetry.lock
  poetry.lock
Due: build:api, build:event-handler

fix(providers): preserve tool-provided fingerprint when dedup rule uses only the fingerprint field
  keep/providers/base/base_provider.py
  tests/test_get_alerts_custom_dedup.py
Due: build:api, build:event-handler

fix(zabbix): keep legacy host field fallbacks for backward compat
  keep/providers/zabbix_provider/zabbix_provider.py
Due: build:api, build:event-handler

fix(zabbix): problem.get doesn't support selectHosts, use event.get
  keep/providers/zabbix_provider/zabbix_provider.py
Due: build:api, build:event-handler

fix(zabbix): derive status from acknowledged/suppressed on pull
  keep/providers/zabbix_provider/zabbix_provider.py
Due: build:api, build:event-handler

fix(ui): bundle Monaco workers into production build (#6580)
  keep-ui/package.json
  keep-ui/shared/ui/MonacoCELEditor/MonacoCel.tsx
Due: build:ui

fix: parse PUSHER_USE_SSL env var as boolean string
  keep/api/core/dependencies.py
  tests/test_pusher_client.py
Due: build:api, build:event-handler

fix: hold strong references to lifespan background tasks
  keep/api/api.py
  tests/test_service_tasks.py
Due: build:api, build:event-handler

fix: remove unauthenticated SSRF-prone POST /providers/healthcheck (#6630)
  keep-ui/app/(health)/health/check.tsx
  keep-ui/app/(health)/health/modal.tsx
  keep-ui/app/(health)/health/opengraph-image.png
  keep-ui/app/(health)/health/page.tsx
  keep-ui/app/(health)/layout.tsx
  keep-ui/app/(keep)/providers/provider-form.tsx
  keep-ui/app/(keep)/providers/providers-tiles.tsx
  keep-ui/components/banners/health-page-banner.tsx
  keep-ui/features/workflows/builder/ui/Editor/StepEditor.tsx
  keep-ui/middleware.ts
  keep-ui/utils/hooks/useProviders.ts
  keep/api/routes/providers.py
  pyproject.toml
Due: build:api, build:event-handler, build:ui

fix: remove now-unused typing imports (Any, Dict) in providers.py
  keep/api/routes/providers.py
Due: build:api, build:event-handler

feat(provisioning): provision correlation rules from KEEP_CORRELATION_RULES
  keep/api/bl/correlation_rules_provisioning.py
  keep/api/config.py
  keep/api/core/db.py
  keep/api/models/db/migrations/versions/2026-07-12-09-30_b3f1c9a24d70.py
  keep/api/models/db/rule.py
  tests/test_correlation_rules_provisioning.py
Due: build:api, build:event-handler

feat(centreon): support TLS verification and mTLS client certificates
  docs/snippets/providers/centreon-snippet-autogenerated.mdx
  keep/providers/centreon_provider/centreon_provider.py
  tests/providers/centreon_provider/test_centreon_tls.py
Due: build:api, build:event-handler

feat(netbox): pull DCIM topology into the service topology map
  docs/providers/documentation/netbox-provider.mdx
  docs/snippets/providers/netbox-snippet-autogenerated.mdx
  keep/providers/netbox_provider/netbox_provider.py
  tests/providers/netbox_provider/test_netbox_topology.py
Due: build:api, build:event-handler

feat(netbox): validate DCIM read scope, not just authentication
  keep/providers/netbox_provider/netbox_provider.py
  tests/providers/netbox_provider/test_netbox_topology.py
Due: build:api, build:event-handler

test(e2e): wait for the facet panel to settle before asserting
  tests/e2e_tests/incidents_alerts_tests/test_filtering_sort_search_on_alerts.py
Due: none

test(e2e): apply the same facet settle-wait to the incidents test
  tests/e2e_tests/incidents_alerts_tests/test_filtering_sort_search_on_incidents.py
Due: none

feat(db): expose SQLAlchemy pool_recycle and pool_timeout as env vars (#6634)
  keep/api/core/db_utils.py
Due: build:api, build:event-handler

fix(db): refresh user after role update so it is not detached (fixes 'Failed to update user')
  keep/api/core/db.py
  tests/test_change_password.py
Due: build:api, build:event-handler

test(e2e): scope facet locators to the first match
  tests/e2e_tests/incidents_alerts_tests/test_filtering_sort_search_on_alerts.py
  tests/e2e_tests/incidents_alerts_tests/test_filtering_sort_search_on_incidents.py
Due: none

test(e2e): align filtering tests with refreshed user after role update
  tests/e2e_tests/incidents_alerts_tests/test_filtering_sort_search_on_alerts.py
  tests/e2e_tests/incidents_alerts_tests/test_filtering_sort_search_on_incidents.py
Due: none

docs: embed the Plivo signup link on console references
  docs/providers/documentation/plivo-provider.mdx
Due: none

feat: expose REDIS_DB environment variable for Redis database selection (#6643)
  .github/workflows/run-e2e-tests.yml
  docker-compose-with-arq.yml
  docs/deployment/configuration.mdx
  keep/api/redis_settings.py
  tests/e2e_tests/docker-compose-e2e-mysql.yml
  tests/e2e_tests/docker-compose-e2e-postgres.yml
  tests/e2e_tests/docker-compose-e2e-redis.yml
  tests/e2e_tests/docker-compose-e2e-sqlite.yml
  tests/test_redis_settings.py
Due: build:api, build:event-handler

feat(discord): webhook provider with embeds, base64 attachments, edit, rate-limit retry, host restriction #6645
  docs/providers/documentation/discord-provider.mdx
  docs/snippets/providers/discord-snippet-autogenerated.mdx
  examples/workflows/discord_basic.yml
  keep/providers/discord_provider/README.md
  keep/providers/discord_provider/discord_provider.py
  tests/test_discord_provider.py
Due: build:api, build:event-handler

fix: resolve CI failures — Playwright strict mode violation and ruff lint issues #6643
  keep/api/redis_settings.py
  tests/e2e_tests/test_end_to_end.py
  tests/test_redis_settings.py
Due: build:api, build:event-handler

fix(workflows): validate YAML on import so misplaced keys aren't silently dropped (#6274)
  keep-ui/entities/workflows/lib/__tests__/parseWorkflowYamlToJSON.test.ts
  keep-ui/widgets/workflow-builder/__tests__/workflow-import-validation.test.ts
  keep-ui/widgets/workflow-builder/workflow-builder-widget.tsx
Due: build:ui

test(retention): cover scheduler and locking behavior
  tests/test_process_retention_task.py
Due: none

fix: use datetime.datetime instead of datetime in type annotation
  keep/functions/__init__.py
Due: build:api, build:event-handler

chore: remove external dependencies on Keep/Elastic infra
  docker-compose.common.yml
  docker-compose.yml
  keep-ui/app/(keep)/ai/ai-plugins.tsx
  keep-ui/app/(keep)/deduplication/DeduplicationSidebar.tsx
  keep-ui/app/(keep)/extraction/create-or-update-extraction-rule.tsx
  keep-ui/app/(keep)/extraction/extractions-table.tsx
  keep-ui/app/(keep)/incidents/[id]/not-found.tsx
  keep-ui/app/(keep)/not-found.tsx
  keep-ui/app/(keep)/providers/page.client.tsx
  keep-ui/app/(keep)/providers/provider-form.tsx
  keep-ui/app/(keep)/providers/provider-logs.tsx
  keep-ui/app/(keep)/rules/CorrelationSidebar/CorrelationSidebarBody.tsx
  keep-ui/app/(keep)/settings/settings.client.tsx
  keep-ui/app/(keep)/workflows/[workflow_id]/workflow-detail-page.tsx
  keep-ui/app/(keep)/workflows/noworkflows.tsx
  keep-ui/app/not-authorized.tsx
  keep-ui/components/banners/BannerBase.tsx
  keep-ui/components/navbar/Search.tsx
  keep-ui/components/navbar/UserInfo.tsx
  keep-ui/features/alerts/alert-detail-sidebar/lib/alertSidebarFields.tsx
  keep-ui/features/presets/presets-manager/ui/alerts-rules-builder.tsx
  keep-ui/features/workflows/ai-assistant/ui/WorkflowBuilderChatSafe.tsx
  keep-ui/instrumentation.ts
  keep-ui/next.config.js
  keep-ui/shared/lib/server/getConfig.ts
  keep-ui/shared/ui/ErrorComponent/ErrorComponent.tsx
  keep-ui/shared/ui/utils/showErrorToast.tsx
  keep/api/core/posthog.py
  keep/cli/cli.py
Due: build:api, build:event-handler, build:ui

ci: pin ruff version to make lint deterministic (#6648)
  .github/workflows/test-docs.yml
  .github/workflows/test-pr-ut.yml
  .github/workflows/test-workflow-examples.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: build:api, build:event-handler

ci: pin ruff version to make lint deterministic (#6648) (#6651)
  .github/workflows/test-docs.yml
  .github/workflows/test-pr-ut.yml
  .github/workflows/test-workflow-examples.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: build:api, build:event-handler

feat: expose REDIS_DB environment variable for Redis database selection (#6643) (#6644)
  .github/workflows/run-e2e-tests.yml
  docker-compose-with-arq.yml
  docs/deployment/configuration.mdx
  keep/api/redis_settings.py
  tests/e2e_tests/docker-compose-e2e-mysql.yml
  tests/e2e_tests/docker-compose-e2e-postgres.yml
  tests/e2e_tests/docker-compose-e2e-redis.yml
  tests/e2e_tests/docker-compose-e2e-sqlite.yml
  tests/e2e_tests/test_end_to_end.py
  tests/test_redis_settings.py
Due: build:api, build:event-handler

fix: stabilize OAuth2-Proxy session hydration
  keep-ui/app/auth-provider.tsx
  keep-ui/shared/lib/hooks/__tests__/useHydratedSession.test.tsx
  keep-ui/shared/lib/hooks/useHydratedSession.tsx
Due: build:ui

fix: avoid double-encoding alert URLs
  keep/api/models/alert.py
  tests/test_alert_dto.py
Due: build:api, build:event-handler

fix: avoid double-encoding alert URLs (#6653)
  keep/api/models/alert.py
  tests/test_alert_dto.py
Due: build:api, build:event-handler

ci: read the PR description from env instead of interpolating it into the shell
  .github/workflows/auto-resolve-keep.yml
Due: none

ci: read the PR description from env instead of interpolating it into the shell (#6654)
  .github/workflows/auto-resolve-keep.yml
Due: none

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml
