Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

build:api:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

build:event-handler:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

build:ui:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

fix: Resolved alerts by filtering out
  keep/api/core/db.py
  tests/deduplication/test_correlation_rule.py
Due: build:api, build:event-handler

add suppressed filtering
  keep/api/core/db.py
Due: build:api, build:event-handler

dummy commit
  dev.sh
Due: none

fix: prevent AUTH0 test timeout caused by OIDC discovery HTTP call (#6566)
  tests/fixtures/client.py
Due: none

fix: assignee not appearing in alert feed filters after self-assign
  keep/api/routes/alerts.py
  keep/api/utils/enrichment_helpers.py
Due: build:api, build:event-handler

feat(api): Add endpoint to delete all alert instances by fingerprint
  keep/api/routes/alerts.py
Due: build:api, build:event-handler

test(alerts): add unit tests for flat assignee enrichment field
  tests/test_assignee_facet_filter.py
Due: none

fix(alerts): normalize assignee email to lowercase on assignment
  keep/api/routes/alerts.py
  tests/test_assignee_facet_filter.py
Due: build:api, build:event-handler

fix: assignee not appearing in alert feed filters after self-assign (#6570)
  keep/api/routes/alerts.py
  keep/api/utils/enrichment_helpers.py
  tests/test_assignee_facet_filter.py
Due: build:api, build:event-handler

fix(ui): exclude public static assets from auth middleware
  docker/Dockerfile.ui
  keep-ui/middleware.ts
Due: build:ui

fix(docker): copy sharp and @img modules to runner stage for image optimization
  docker/Dockerfile.ui
Due: build:ui

feat(okta): call userinfo endpoint to fetch groups and name claims
  keep/identitymanager/identity_managers/okta/okta_authverifier.py
Due: build:api, build:event-handler

feat(okta): add group-to-role mapping via OKTA_*_GROUPS env vars
  docs/deployment/authentication/okta-auth.mdx
  keep-ui/auth.config.ts
  keep/identitymanager/identity_managers/okta/okta_authverifier.py
  keep/identitymanager/identity_managers/okta/okta_identitymanager.py
Due: build:api, build:event-handler, build:ui

test(okta): add unit tests for group-role mapping, userinfo and provisioning
  keep/identitymanager/identity_managers/okta/okta_authverifier.py
  tests/test_okta_auth.py
Due: build:api, build:event-handler

chore(docs): regenerate provider snippets
  docs/snippets/providers/anthropic-snippet-autogenerated.mdx
Due: none

Fix issue #6545
  keep-ui/shared/ui/MonacoCELEditor/handle-completions.ts
  keep-ui/shared/ui/MonacoCELEditor/validation-hook.ts
Due: build:ui

fix: close leaked SQLAlchemy sessions in process_watcher_task (#5611)
  keep/api/bl/dismissal_expiry_bl.py
  keep/api/bl/maintenance_windows_bl.py
  tests/test_session_cleanup.py
Due: build:api, build:event-handler

fix: change monaco-editor imports to type-only imports (#6578)
  keep-ui/shared/ui/MonacoCELEditor/handle-completions.ts
  keep-ui/shared/ui/MonacoCELEditor/validation-hook.ts
Due: build:ui

fix(ui): exclude public static assets from auth middleware to fix image loading (#6576)
  docker/Dockerfile.ui
  keep-ui/middleware.ts
Due: build:ui

Fix PUSHER_USE_SSL boolean parsing
  keep/api/core/dependencies.py
  tests/test_dependencies.py
Due: build:api, build:event-handler

fix: parse pusher env flags as booleans
  keep/api/core/dependencies.py
  tests/test_pusher_dependencies.py
Due: build:api, build:event-handler

fix: remove invalid bullet quill format
  keep-ui/features/alerts/alert-note/ui/alert-note-modal.tsx
  keep-ui/features/incidents/create-or-update-incident/ui/create-or-update-incident-form.tsx
Due: build:ui

fix: Prevent alerts facets sidebar from freezing with high cardinality (#6577)
  keep-ui/features/filter/facet.tsx
  keep-ui/features/filter/hooks.tsx
  keep-ui/features/filter/store/__tests__/facets-store.test.ts
  keep-ui/features/filter/store/__tests__/use-queries-handler.test.ts
  keep-ui/features/filter/store/create-facets-store.ts
  keep-ui/features/filter/store/use-queries-handler.ts
  pyproject.toml
Due: build:api, build:event-handler, build:ui

docs: regenerate anthropic provider snippet
  docs/snippets/providers/anthropic-snippet-autogenerated.mdx
Due: none

docs: add provision/mapping page to navigation
  docs/mint.json
Due: none

ci: disable release-schema job (expired SCHEMA_REPO_PAT)
  .github/workflows/release-workflow-schema.yml
Due: none

fix: keep static facets eager (was deferring them by is_lazy)
  keep-ui/features/filter/facet.tsx
  keep-ui/features/filter/store/__tests__/facets-store.test.ts
  keep-ui/features/filter/store/create-facets-store.ts
  keep-ui/features/filter/store/utils.ts
Due: build:ui

fix: auto-expand newly added custom facets
  keep-ui/features/filter/facet.tsx
  keep-ui/features/filter/store/__tests__/facets-store.test.ts
  keep-ui/features/filter/store/create-facets-store.ts
Due: build:ui

fix: Prevent alerts facets sidebar from freezing with high facet cardinality (#6577) (#6589)
  .github/workflows/release-workflow-schema.yml
  docs/mint.json
  docs/snippets/providers/anthropic-snippet-autogenerated.mdx
  keep-ui/features/filter/facet.tsx
  keep-ui/features/filter/hooks.tsx
  keep-ui/features/filter/store/__tests__/facets-store.test.ts
  keep-ui/features/filter/store/__tests__/use-queries-handler.test.ts
  keep-ui/features/filter/store/create-facets-store.ts
  keep-ui/features/filter/store/use-queries-handler.ts
  keep-ui/features/filter/store/utils.ts
  pyproject.toml
Due: build:api, build:event-handler, build:ui

fix(okta): restore groups scope to trigger app-level group claim in ID token
  keep-ui/auth.config.ts
Due: build:ui

fix(okta): use ID token to expose app-level group claims to backend
  keep-ui/auth.config.ts
  keep/identitymanager/identity_managers/okta/okta_authverifier.py
Due: build:api, build:event-handler, build:ui

fix(okta): accept client_id as valid audience for ID token verification
  keep/identitymanager/identity_managers/okta/okta_authverifier.py
Due: build:api, build:event-handler

chore(okta): downgrade per-request verbose logs to debug level
  keep/identitymanager/identity_managers/okta/okta_authverifier.py
Due: build:api, build:event-handler

fix: use Config bool parsing for pusher envs
  keep/api/core/dependencies.py
  tests/test_dependencies.py
Due: build:api, build:event-handler

feat: include fingerprints in poll-alerts payload and patch visible alert rows
  keep-ui/utils/hooks/__tests__/useAlertPolling.test.ts
  keep-ui/utils/hooks/useAlertPolling.ts
  keep-ui/widgets/alerts-table/ui/__tests__/useAlertsTableData.test.ts
  keep-ui/widgets/alerts-table/ui/useAlertsTableData.ts
  keep/api/routes/alerts.py
  keep/api/tasks/process_event_task.py
Due: build:api, build:event-handler, build:ui

fix: harden poll-alerts fingerprint patching per PR review
  keep-ui/widgets/alerts-table/ui/__tests__/useAlertsTableData.test.ts
  keep-ui/widgets/alerts-table/ui/useAlertsTableData.ts
  keep/api/consts.py
  keep/api/routes/alerts.py
  keep/api/tasks/process_event_task.py
  tests/test_alerts_batch.py
  tests/test_poll_alerts_payload.py
Due: build:api, build:event-handler, build:ui

fix: resolve CI failures from batch endpoint and e2e teardown
  .github/workflows/run-e2e-tests.yml
  keep-ui/widgets/alerts-table/ui/useAlertsTableData.ts
  tests/test_alerts_batch.py
Due: build:ui

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml
