Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

build:api:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

build:event-handler:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

build:ui:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

fix: add type number for port field
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: convert port to int in validate_config
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: safely convert port to int with error handling
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: add WEBHOOK_INSTALLATION_REQUIRED to enable webhook tab
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: add proper webhook_template
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: use simple string for webhook_template
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: use proper escaped braces in template
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: map medium severity to WARNING (no MEDIUM in AlertSeverity)
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: remove duplicate message field in AlertDto
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

feat(provider): Add SNMP webhook support for receiving traps (Issue #2112)
  SNMP_PROVIDER_DEMO_GUIDE.md
Due: none

chore: update docker config and add test files
  docker-compose.common.yml
  docker-compose.yml
  docker/Dockerfile.api
  keep-ui/failure.png
  keep-ui/next-env.d.ts
  keep-ui/package-lock.json
  keep-ui/package.json
  keep-ui/playwright-report/data/19c8342e4407dbfbc69102f481e0f6f6d3e34d92.md
  keep-ui/playwright-report/index.html
  keep-ui/playwright.config.ts
  keep-ui/test-results/.last-run.json
  keep-ui/test-results/login-should-allow-a-user--1aef2--and-see-the-incidents-page-chromium/error-context.md
  keep-ui/tests/e2e/example.spec.ts
  keep-ui/tests/e2e/login.spec.ts
  keep-ui/tests/e2e/utils.ts
  mock_mock_mock
  providers.json
  tests/e2e_tests/test_simple_navigation.py
  tests/test_ai_api.py
  tests/unit/test_ai_settings_optimization.py
Due: build:api, build:event-handler, build:ui

fix: make pysnmp optional for receiving traps
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: reorder auth config fields to fix Python syntax error
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

feat(provider): Add SNMP webhook support for receiving traps (Issue #2112)
  docs/providers/documentation/snmp-provider.mdx
  keep/providers/snmp_provider/__init__.py
  keep/providers/snmp_provider/snmp_provider.py
  tests/e2e_tests/docker-compose-e2e-snmp.yml
  tests/e2e_tests/test_snmp_e2e.py
  tests/e2e_tests/workflow-snmp-trap.yaml
  tests/test_snmp_provider.py
Due: build:api, build:event-handler

fix: add port field type annotation for UI
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: add get_alert_schema method
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: remove webhook_template to avoid format conflict
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: add config_main_group to all auth fields for proper display
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

fix: remove config_main_group so all fields appear in form
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

Complete bounty #6097: feat(provider): Add SNMP webhook support for receiving traps (Issue #2112)
  BOUNTY_CONTRIBUTION.md
Due: none

feat(providers): add Nagios provider
  keep/providers/nagios_provider/__init__.py
  keep/providers/nagios_provider/alerts_mock.py
  keep/providers/nagios_provider/nagios_provider.py
  tests/test_nagios_provider.py
Due: build:api, build:event-handler

fix: pop Keep-internal kwargs in BaseProvider before passing to providers (#5732)
  keep/providers/base/base_provider.py
  keep/providers/http_provider/http_provider.py
  keep/providers/webhook_provider/webhook_provider.py
Due: build:api, build:event-handler

fix: regression on tenantId in oauth2proxy frontend fix
  keep-ui/shared/lib/__tests__/oauth2proxy-auth.test.ts
  keep-ui/shared/lib/oauth2proxy-auth.ts
Due: build:ui

fix: avoid version validation error in grafana provider
  keep/providers/grafana_provider/grafana_provider.py
Due: build:api, build:event-handler

docs: auto-generate pushover provider snippet
  docs/snippets/providers/pushover-snippet-autogenerated.mdx
Due: none

fix: avoid version validation error in grafana provider (#6102)
  keep/providers/grafana_provider/grafana_provider.py
Due: build:api, build:event-handler

fix: update e2e test for plain-text summary rendering in incident table
  tests/e2e_tests/incidents_alerts_tests/test_xss_protection.py
Due: none

fix: regression on tenantId in oauth2proxy frontend fix (#6100)
  keep-ui/shared/lib/__tests__/oauth2proxy-auth.test.ts
  keep-ui/shared/lib/oauth2proxy-auth.ts
Due: build:ui

feat: SNMP provider - trap listener + polling + OID mapping
  keep/providers/snmp_provider/__init__.py
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

feat(provider): add SolarWinds SWIS provider
  keep/providers/solarwinds_provider/README.md
  keep/providers/solarwinds_provider/__init__.py
  keep/providers/solarwinds_provider/solarwinds_provider.py
Due: build:api, build:event-handler

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml
