Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

build:api:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

build:event-handler:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

build:ui:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

fix: stabilize UI sessions and publish debug images
  .github/workflows/release-debug-ui.yml
  docker/Dockerfile.ui
  docs/deployment/docker.mdx
  keep-ui/__tests__/next-config.test.ts
  keep-ui/app/__tests__/auth-provider.test.tsx
  keep-ui/app/__tests__/global-error.test.tsx
  keep-ui/app/auth-provider.tsx
  keep-ui/app/global-error.tsx
  keep-ui/jest.config.ts
  keep-ui/next.config.js
  keep-ui/shared/lib/hooks/useHydratedSession.tsx
Due: build:ui

docs: regenerate Graylog provider snippet
  docs/snippets/providers/graylog-snippet-autogenerated.mdx
Due: none

fix: preserve session startup and stabilize theme e2e
  keep-ui/app/__tests__/auth-provider.test.tsx
  keep-ui/app/auth-provider.tsx
  keep-ui/features/presets/presets-manager/ui/__tests__/alert-preset-manager.test.tsx
  keep-ui/features/presets/presets-manager/ui/alert-preset-manager.tsx
  keep-ui/jest.config.ts
  keep-ui/shared/lib/hooks/useHydratedSession.tsx
  tests/e2e_tests/test_end_to_end_theme.py
Due: build:ui

Fix catch_exception crash when request.state.tenant_id/trace_id are missing
  keep/api/api.py
  tests/test_catch_exception_handler.py
Due: build:api, build:event-handler

fix: wait for visible simulation controls in theme e2e
  tests/e2e_tests/test_end_to_end_theme.py
Due: none

fix: preserve UI error details and publish debug images (#6852)
  .github/workflows/release-debug-ui.yml
  docker/Dockerfile.ui
  docs/deployment/docker.mdx
  docs/snippets/providers/graylog-snippet-autogenerated.mdx
  keep-ui/__tests__/next-config.test.ts
  keep-ui/app/__tests__/global-error.test.tsx
  keep-ui/app/global-error.tsx
  keep-ui/features/presets/presets-manager/ui/__tests__/alert-preset-manager.test.tsx
  keep-ui/features/presets/presets-manager/ui/alert-preset-manager.tsx
  keep-ui/next.config.js
  tests/e2e_tests/test_end_to_end_theme.py
Due: build:ui

Make catch_exception safe when request.state is incomplete
  keep/api/api.py
  tests/test_catch_exception.py
Due: build:api, build:event-handler

fix(api): support internal pusher host and normalize URL parsing (#6856)
  docs/deployment/configuration.mdx
  keep-ui/shared/lib/server/getConfig.ts
  keep-ui/utils/hooks/usePusher.ts
  keep/api/core/dependencies.py
  tests/test_pusher_dependencies.py
Due: build:api, build:event-handler, build:ui

fix(grafana): use per-alert status with fallback to group event status (#6848)
  keep/providers/grafana_provider/grafana_provider.py
  tests/providers/grafana_provider/test_grafana_v12_webhook.py
Due: build:api, build:event-handler

fix(deduplicator): safely handle missing nested ignore fields and preserve parent dict (#6849)
  keep/api/alert_deduplicator/alert_deduplicator.py
  tests/test_deduplication_nested_field.py
Due: build:api, build:event-handler

fix(cel): rewrite severity in list expressions and normalize severity in maintenance windows (#6850)
  keep/api/bl/maintenance_windows_bl.py
  keep/api/utils/cel_utils.py
  tests/test_cel_severity_in_list.py
Due: build:api, build:event-handler

fix(functions): support midnight-crossing windows in is_business_hours (#6780)
  keep/functions/__init__.py
  tests/test_business_hours_midnight_wrap.py
Due: build:api, build:event-handler

fix(auth0): skip redundant OIDC discovery on every Auth0AuthVerifier construction (#6781)
  ee/identitymanager/identity_managers/auth0/auth0_authverifier.py
  tests/test_auth0_discovery_on_construction.py
Due: build:api, build:event-handler

fix(ui): make alert sidebar actions work on the incident page
  keep-ui/app/(keep)/incidents/[id]/alerts/__tests__/incident-alerts-sidebar.test.tsx
  keep-ui/app/(keep)/incidents/[id]/alerts/__tests__/incident-alerts.test.tsx
  keep-ui/app/(keep)/incidents/[id]/alerts/incident-alerts.tsx
Due: build:ui

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml
