Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

build:api:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

build:event-handler:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

build:ui:
  stage: build
  image:
    name: ${KANIKO_IMAGE}
    entrypoint:
    - ''
  before_script:
  - echo "Building ${IMAGE_NAME} with tag ${IMAGE_TAG}"
  - echo "Target registry: ${IMAGE_REGISTRY_PATH}"
  - mkdir -p /kaniko/.docker
  - export DOCKER_REGISTRY=$(echo "${IMAGE_REGISTRY_PATH}" | cut -d'/' -f1)
  ...

feat(workflow): add fn.* Mustache lambda helpers for optional field defaults
  keep-ui/entities/workflows/lib/mustache.ts
  keep-ui/entities/workflows/lib/validate-mustache-ui-builder.ts
  keep-ui/entities/workflows/lib/validate-mustache-yaml.ts
  keep/iohandler/iohandler.py
Due: build:api, build:event-handler, build:ui

fix(uptimekuma): fix loop bug, datetime TypeError, and webhook KeyError (#5655)
  keep/providers/uptimekuma_provider/uptimekuma_provider.py
Due: build:api, build:event-handler

feat(solarwinds): add SolarWinds Orion monitoring provider
  keep/providers/solarwinds_provider/__init__.py
  keep/providers/solarwinds_provider/solarwinds_provider.py
Due: build:api, build:event-handler

docs: fix GitLab Pipelines capitalisation in providers overview
  docs/providers/overview.md
  docs/providers/overview.mdx
Due: none

feat(pushover): add title support and summary cleanup
  keep/providers/pushover_provider/pushover_provider.py
Due: build:api, build:event-handler

docs: regenerate provider snippets to fix tests-docs CI
  docs/snippets/providers/github-snippet-autogenerated.mdx
  docs/snippets/providers/http-snippet-autogenerated.mdx
  docs/snippets/providers/kubernetes-snippet-autogenerated.mdx
  docs/snippets/providers/servicenow-snippet-autogenerated.mdx
  docs/snippets/providers/webhook-snippet-autogenerated.mdx
  docs/snippets/providers/zoom-snippet-autogenerated.mdx
Due: none

docs: fix Zoom Chat card outside CardGroup in overview.mdx
  docs/providers/overview.mdx
Due: none

docs: add missing Okta authentication documentation page
  docs/deployment/authentication/okta-auth.mdx
  docs/mint.json
Due: none

docs: fix GitLab Pipelines capitalisation in providers overview (#5709)
  docs/deployment/authentication/okta-auth.mdx
  docs/mint.json
  docs/providers/overview.md
  docs/providers/overview.mdx
  docs/snippets/providers/github-snippet-autogenerated.mdx
  docs/snippets/providers/http-snippet-autogenerated.mdx
  docs/snippets/providers/kubernetes-snippet-autogenerated.mdx
  docs/snippets/providers/servicenow-snippet-autogenerated.mdx
  docs/snippets/providers/webhook-snippet-autogenerated.mdx
  docs/snippets/providers/zoom-snippet-autogenerated.mdx
Due: none

fix(provider): use separate API calls per conclusion status
  keep/providers/github_workflows_provider/github_workflows_provider.py
Due: build:api, build:event-handler

fix(provider): reorder dataclass fields to fix init error
  keep/providers/github_workflows_provider/github_workflows_provider.py
Due: build:api, build:event-handler

fix: properly handle signout for OAUTH2PROXY auth type
  keep-ui/shared/lib/hooks/useSignOut.ts
Due: build:ui

fix: add rca_points and traces to PROVISIONED_ENRICHMENTS
  keep-ui/app/(keep)/incidents/[id]/incident-overview.tsx
Due: build:ui

fix: move heartbeats.append inside for loop
  keep/providers/uptimekuma_provider/uptimekuma_provider.py
Due: build:api, build:event-handler

fix: copy keep source code in Dockerfile.dev.api
  docker/Dockerfile.dev.api
Due: none

fix(grafana): always set optional alert fields to avoid render_context errors
  keep/providers/grafana_provider/grafana_provider.py
Due: build:api, build:event-handler

feat: add custom severity color mapping for alert table (#5719)
  keep-ui/entities/alerts/model/index.ts
  keep-ui/entities/alerts/model/useSeverityMapping.ts
  keep-ui/features/alerts/severity-mapping/index.ts
  keep-ui/features/alerts/severity-mapping/ui/SeverityMappingFacet.tsx
  keep-ui/features/alerts/severity-mapping/ui/SeverityMappingSelection.tsx
  keep-ui/widgets/alerts-table/lib/alert-table-utils.tsx
  keep-ui/widgets/alerts-table/ui/SettingsSelection.tsx
  keep-ui/widgets/alerts-table/ui/alert-table-server-side.tsx
Due: build:ui

fix(grafana): always set optional alert fields to avoid render_context errors (#5658)
  keep/providers/grafana_provider/grafana_provider.py
Due: build:api, build:event-handler

refactor: use tremor components in SeverityMappingFacet
  keep-ui/features/alerts/severity-mapping/ui/SeverityMappingFacet.tsx
Due: build:ui

fix: prevent webpack from inlining AUTH_TYPE at build time
  keep-ui/auth.config.ts
Due: build:ui

chore: Bump version from 0.49.1 to 0.50.0
  pyproject.toml
Due: build:api, build:event-handler

chore: Bump version from 0.49.1 to 0.50.0 (#5728)
  pyproject.toml
Due: build:api, build:event-handler

fix: prevent webpack from inlining AUTH_TYPE at build time (#5726)
  keep-ui/auth.config.ts
Due: build:ui

feat: add custom severity color mapping for alert table (#5724)
  keep-ui/entities/alerts/model/index.ts
  keep-ui/entities/alerts/model/useSeverityMapping.ts
  keep-ui/features/alerts/severity-mapping/index.ts
  keep-ui/features/alerts/severity-mapping/ui/SeverityMappingFacet.tsx
  keep-ui/features/alerts/severity-mapping/ui/SeverityMappingSelection.tsx
  keep-ui/widgets/alerts-table/lib/alert-table-utils.tsx
  keep-ui/widgets/alerts-table/ui/SettingsSelection.tsx
  keep-ui/widgets/alerts-table/ui/alert-table-server-side.tsx
Due: build:ui

feat: add webhook provider for custom HTTP endpoints
  keep/providers/webhook_provider/README.md
  keep/providers/webhook_provider/__init__.py
  keep/providers/webhook_provider/webhook_provider.py
Due: build:api, build:event-handler

fix: pop Keep-internal kwargs in BaseProvider before passing to providers
  keep/providers/base/base_provider.py
  keep/providers/http_provider/http_provider.py
  keep/providers/webhook_provider/webhook_provider.py
Due: build:api, build:event-handler

feat: add Discord provider for webhook notifications
  keep/providers/discord_provider/README.md
  keep/providers/discord_provider/__init__.py
  keep/providers/discord_provider/discord_provider.py
Due: build:api, build:event-handler

feat: add PagerDuty provider for incident management
  keep/providers/pagerduty_provider/__init__.py
  keep/providers/pagerduty_provider/pagerduty_provider.py
Due: build:api, build:event-handler

feat: add Telegram Bot provider
  keep/providers/telegram_provider/__init__.py
  keep/providers/telegram_provider/telegram_provider.py
Due: build:api, build:event-handler

feat: add Pushover provider
  keep/providers/pushover_provider/__init__.py
  keep/providers/pushover_provider/pushover_provider.py
Due: build:api, build:event-handler

feat: add Opsgenie provider
  keep/providers/opsgenie_provider/__init__.py
  keep/providers/opsgenie_provider/opsgenie_provider.py
Due: build:api, build:event-handler

feat: add Sendgrid email provider
  keep/providers/sendgrid_provider/__init__.py
  keep/providers/sendgrid_provider/sendgrid_provider.py
Due: build:api, build:event-handler

feat: add VictorOps/Splunk On-Call provider
  keep/providers/victorops_provider/__init__.py
  keep/providers/victorops_provider/victorops_provider.py
Due: build:api, build:event-handler

feat: add Mattermost provider
  keep/providers/mattermost_provider/__init__.py
  keep/providers/mattermost_provider/mattermost_provider.py
Due: build:api, build:event-handler

feat: add Google Chat provider
  keep/providers/googlechat_provider/__init__.py
  keep/providers/googlechat_provider/googlechat_provider.py
Due: build:api, build:event-handler

feat: add Flock provider
  keep/providers/flock_provider/__init__.py
  keep/providers/flock_provider/flock_provider.py
Due: build:api, build:event-handler

feat: add Clickatell SMS provider
  keep/providers/clickatell_provider/__init__.py
  keep/providers/clickatell_provider/clickatell_provider.py
Due: build:api, build:event-handler

feat: add Zoom meeting provider
  keep/providers/zoom_provider/__init__.py
  keep/providers/zoom_provider/zoom_provider.py
Due: build:api, build:event-handler

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml
