Repository keephq/keep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:api, build:event-handler, build:ui

Path conditions:
  build:api: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:event-handler: any of: docker/Dockerfile.api, keep/**/*, ee/**/*, pyproject.toml, poetry.lock, .gitlab-ci.yml
  build:ui: any of: docker/Dockerfile.ui, keep-ui/**/*, .gitlab-ci.yml

fix: correct Nagios host state mapping
  docs/providers/documentation/nagios-provider.mdx
  keep/providers/nagios_provider/README.md
  keep/providers/nagios_provider/nagios_provider.py
  tests/test_nagios_provider.py
Due: build:api, build:event-handler

chore: clean Nagios provider snippet whitespace
  docs/snippets/providers/nagios-snippet-autogenerated.mdx
Due: none

Handle test Contact Point alert from Grafana 12
  keep/providers/grafana_provider/grafana_provider.py
  tests/providers/grafana_provider/test_grafana_v12_webhook.py
Due: build:api, build:event-handler

fix: indentation in _handle_500_error (anthropic.py) (#6497)
  keep/providers/anthropic_provider/anthropic_provider.py
Due: build:api, build:event-handler

fix: Handle test Contact Point alert from Grafana 12 (#6508)
  keep/providers/grafana_provider/grafana_provider.py
  tests/providers/grafana_provider/test_grafana_v12_webhook.py
Due: build:api, build:event-handler

chore: Bump version from 0.51.0 to 0.52.0
  pyproject.toml
Due: build:api, build:event-handler

chore: Bump version from 0.51.0 to 0.52.0 (#6510)
  pyproject.toml
Due: build:api, build:event-handler

fix: apply custom dedup rules to pulled alerts (closes #5370) (#6242)
  keep/providers/base/base_provider.py
  tests/test_get_alerts_custom_dedup.py
Due: build:api, build:event-handler

is_predicted for topology-based incidents
  keep/topologies/topology_processor.py
  tests/test_topology.py
Due: build:api, build:event-handler

Update spaces
  tests/test_topology.py
Due: none

fix: set is_predicted = true for topology-based incidents (#6512)
  keep/topologies/topology_processor.py
  tests/test_topology.py
Due: build:api, build:event-handler

Update prefix logic
  keep-ui/app/(keep)/incidents/[id]/incident-header.tsx
Due: build:ui

fix(api): remove invalid joinedload on Incident.alerts property
  keep/api/core/db.py
Due: build:api, build:event-handler

fix: Prefix "Possible" in Incident Title Based on is_candidate Value (#6517)
  keep-ui/app/(keep)/incidents/[id]/incident-header.tsx
Due: build:ui

fix: replace dynamic code execution with safe bracket-access parser in _enrich
  keep/providers/base/base_provider.py
Due: build:api, build:event-handler

Add Enhanced SNMP Provider with active polling and MIB support
  keep/providers/snmp_provider/README.md
  keep/providers/snmp_provider/snmp_provider.py
Due: build:api, build:event-handler

feat: add PRTG Network Monitor provider
  keep/providers/prtg_provider/__init__.py
  keep/providers/prtg_provider/prtg_provider.py
Due: build:api, build:event-handler

fix: address code review findings
  keep/providers/prtg_provider/alerts_mock.py
  keep/providers/prtg_provider/prtg_provider.py
Due: build:api, build:event-handler

test: add comprehensive PRTG provider tests
  tests/providers/prtg_provider/test_prtg_provider.py
Due: none

fix: parse site24x7 LABELS as dict for AlertDto compatibility
  keep/providers/site24x7_provider/site24x7_provider.py
Due: build:api, build:event-handler

fix: parse site24x7 LABELS as dict for AlertDto compatibility (#6526)
  keep/providers/site24x7_provider/site24x7_provider.py
Due: build:api, build:event-handler

fix(alerts): Delete all timestamps when omitted
  keep/api/models/alert.py
  keep/api/routes/alerts.py
  tests/test_alert_delete.py
Due: build:api, build:event-handler

chore: Bump version from 0.52.0 to 0.52.1
  pyproject.toml
Due: build:api, build:event-handler

chore: Bump version from 0.52.0 to 0.52.1 (#6530)
  pyproject.toml
Due: build:api, build:event-handler

feat: Enhanced SNMP Provider (Polling, MIBs, and SNMPv3)
  docs/providers/documentation/snmp-provider.mdx
  docs/snippets/providers/snmp-snippet-autogenerated.mdx
  keep/providers/snmp_provider/README.md
  keep/providers/snmp_provider/__init__.py
  keep/providers/snmp_provider/snmp_provider.py
  pyproject.toml
  tests/test_snmp_provider.py
Due: build:api, build:event-handler

fix: prevent custom columns from resetting to defaults when saving preset or renaming column
  keep-ui/entities/presets/model/usePresetActions.ts
  keep-ui/entities/presets/model/usePresetColumnConfig.ts
  keep-ui/entities/presets/model/usePresetColumnState.ts
Due: build:ui

feat: add zenduty_provider
  keep/providers/zenduty_provider/zenduty_provider.py
Due: build:api, build:event-handler

feat: add zenduty_provider
  keep/providers/zenduty_provider/README.md
Due: build:api, build:event-handler

feat: add pagertree_provider
  keep/providers/pagertree_provider/pagertree_provider.py
Due: build:api, build:event-handler

feat: add pagertree_provider
  keep/providers/pagertree_provider/README.md
Due: build:api, build:event-handler

fix: resolve "window is not defined" SSR crash on direct URL access to alerts page
  keep-ui/app/(keep)/alerts/[id]/ui/alerts.tsx
  keep-ui/shared/ui/MonacoCELEditor/MonacoCel.tsx
  keep-ui/shared/ui/MonacoCELEditor/monaco-cel-editor.tsx
Due: build:ui

Simpler approach to load all incident params into labels
  keep/providers/site24x7_provider/site24x7_provider.py
Due: build:api, build:event-handler

fix: prevent custom columns from resetting to defaults when saving preset or renaming column (#6537)
  keep-ui/entities/presets/model/usePresetActions.ts
  keep-ui/entities/presets/model/usePresetColumnConfig.ts
  keep-ui/entities/presets/model/usePresetColumnState.ts
Due: build:ui

fix: Fix unit test mocking usePathname
  keep-ui/app/(keep)/alerts/[id]/ui/__tests__/alerts-fingerprint.test.tsx
Due: build:ui

feat: Implement a full permanent link approach.
  keep-ui/app/(keep)/alerts/fingerprint/[fp]/page.tsx
  keep-ui/app/(keep)/alerts/fingerprint/[fp]/ui/alert-fingerprint-page.tsx
  keep-ui/entities/alerts/model/useAlerts.ts
Due: build:ui

fix: resolve "window is not defined" SSR crash on direct URL access to alerts page (#6540)
  keep-ui/app/(keep)/alerts/[id]/ui/__tests__/alerts-fingerprint.test.tsx
  keep-ui/app/(keep)/alerts/[id]/ui/alerts.tsx
  keep-ui/app/(keep)/alerts/fingerprint/[fp]/page.tsx
  keep-ui/app/(keep)/alerts/fingerprint/[fp]/ui/alert-fingerprint-page.tsx
  keep-ui/entities/alerts/model/useAlerts.ts
  keep-ui/shared/ui/MonacoCELEditor/MonacoCel.tsx
  keep-ui/shared/ui/MonacoCELEditor/monaco-cel-editor.tsx
Due: build:ui

docs: clarify Grafana service topology support (#6499)
  docs/overview/servicetopology.mdx
  docs/providers/documentation/grafana-provider.mdx
Due: none

docs: fix PagerDuty capitalization across provider documentation (#6405)
  docs/overview/servicetopology.mdx
  docs/providers/documentation/pagerduty-provider.mdx
  docs/providers/overview.md
  docs/providers/overview.mdx
Due: none

feat(prometheus): expose PromQL query as invokable provider method
  keep/providers/prometheus_provider/prometheus_provider.py
Due: build:api, build:event-handler
